@import "base/break-points";
@import "base/colors";

.rt-progress {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    gap: 9px;

    .rating {
        background-color: transparent;
        color: $gray-700;
        font-weight: 600;
        min-width: 50px;
        font-size: 14px;
        line-height: 18px;
        justify-content: flex-end;
       
        .i {
            width: 16px;
            height: 16px;
            min-width: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 4px;
        }
    }

    .per {
        min-width: 38px;
        color: #666;
        text-align: left;
    }
}