


$primary-500: #008cff;
$gray-400: #E8E8E8;
$gray-700: #222222;





// basic color
$black: #000000;
$white: #ffffff;
$green: #195D2F;
$lightGreen: #689C45;
$charcol: #3D3D3D;
$red: #EB4000;
$saffron: #F3703D;
$sky: #E3F1F6;
$grey: #676767;
$lightGrey: #E2E2E2;
$lightGrey1: #F5F5F5;