@import '../../../../assets/scss/base/break-points';

h6 {
    margin-bottom: 16px;
}

.store-view-block {
    @include bp (smd-max) {
        display: block;
    }
    .btns-block .mdc-button {
        font-size: 16px;
        line-height: 20px;
    }
}

.additional-info-list .name {
    @include bp (xs-max) {
        width: 100%;
        h6 {
            width: auto;
        }   
    }       
}
:ng-deep .product-accordion.mat-accordion .mat-expansion-panel {
    position: relative;
}
:ng-deep .product-accordion.mat-accordion .mat-expansion-panel .mat-expansion-indicator {

}

@include bp(md-max) {
    .list-product-view .item-box {
        flex-wrap: wrap;
        align-items: flex-start;
        .center {
            flex: 1;
        }
        .right {
            width: 100%;
            flex-wrap: wrap;
            gap: 6px;
        }
    }
}