<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="left">
                <a href="javascript:void(0);" title="logo" class="logo">
                    <img src="assets/images/logo-white.svg" />
                </a>
                <ul class="social">
                    <li>
                        <a href="javascript:void(0);" title="google"> <img
                                src="assets/images/ic-google-plus-circle-filled.svg" /></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" title="facebook"> <img
                                src="assets/images/ic-facebook.svg" /></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" title="twiter"> <img
                                src="assets/images/ic-twit.svg" /></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" title="linkedin"> <img
                                src="assets/images/ic-linkedin.svg" /></a>
                    </li>
                </ul>
            </div>
            <ul class="center">
                <li>
                    <h6>Company</h6>
                    <a href="javascript:void(0);" title="About us"> About us</a>
                    <a href="javascript:void(0);" title="Team"> Team</a>
                    <a href="javascript:void(0);" title="Blogs"> Blogs</a>
                </li>
                <li>
                    <h6>Contact</h6>
                    <a href="javascript:void(0);" title="Help & Support">Help & Support</a>
                </li>
                <li>
                    <h6>Legal</h6>
                    <a href="javascript:void(0);" title="Terms & Conditions"> Terms & Conditions</a>
                    <a href="javascript:void(0);" title="Refund & Cancellation"> Refund & Cancellation</a>
                    <a href="javascript:void(0);" title="Privacy Policy"> Privacy Policy</a>
                    <a href="javascript:void(0);" title="Cookie Policy"> Cookie Policy</a>
                </li>
            </ul>
            <div class="right">
                <ng-select [items]="Language" bindLabel="name" bindValue="name" placeholder="Select Language"
                    [(ngModel)]="selectedLag" class="select-icon" [searchable]="false" [clearable]="false">
                    <ng-template ng-label-tmp let-item="item">
                        <img class="i" [src]="item.avatar" />
                        <b>{{item.name}}</b>
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-index="index">
                        <img class="i" [src]="item.avatar" />
                        <b>{{item.name}}</b>
                    </ng-template>
                </ng-select>

                <ng-select [items]="Nationality" bindLabel="name" bindValue="name" placeholder="Select Language"
                    [(ngModel)]="selectedNation" class="select-icon" [searchable]="false" [clearable]="false">
                    <ng-template ng-label-tmp let-item="item">
                        <img class="i" [src]="item.avatar" />
                        <b>{{item.name}}</b>
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-index="index">
                        <img class="i" [src]="item.avatar" />
                        <b>{{item.name}}</b>
                    </ng-template>
                </ng-select>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            By continuing past this page, you agree to our Terms of Service, Cookie Policy, Privacy Policy and Content
            Policies. All trademarks are properties of their respective owners. 2008-2023 © Delifood™ Ltd. All rights
            reserved.
        </div>
    </div>
</footer>