<header class="header" [ngClass]="searchDisplay?'show-search':''">
    <div class="header-top">
        <div class="container">
            <a [routerLink]="'/home'" class="logo"><img src="./assets/images/logo.svg" alt="" /></a>
            <div class="location-block" (click)="openDialog()">
                <em><img src="./assets/images/ic-location.svg" alt="" /></em>
                <span class="address-text" matTooltip="123, ABC Nagar, Karnataka , india"> 123, ABC Nagar, Karnataka , india</span>
            </div>
            <div class="right">
                <button mat-icon-button class="search-btn" (click)="showSearch()">
                    <img src="./assets/images/ic-search.svg" alt="" />
                </button>
                <div class="search-block">
                    <div class="input-grp">
                        <app-text-field label="Search"></app-text-field>
                        <button mat-icon-button class="border" (click)="showSearch()">
                            <img src="./assets/images/ic-close.svg" alt="" />
                        </button>
                    </div>
                </div>

                <button mat-flat-button class="link-btn cart-btn" [routerLink]="'/cart'">
                    <em class="material-icons lg"><img src="./assets/images/ic-shopping-cart.svg" alt="" /></em>
                    Cart
                </button>
                <!-- <button mat-flat-button color="primary" [routerLink]="'/'" *ngIf="!isLogin">Sign In / Sign Up</button> -->
                <div matRipple class="profile-info" [matMenuTriggerFor]="menu" *ngIf="true">
                    <em class="avatar" *ngIf="dp" style="background-image: url(assets/images/dp.png);"></em>
                    <em class="avatar" *ngIf="!dp">{{firstChar + lastChar}}</em>
                    <span class="_name">{{UserName}}</span>
                </div>
                <mat-menu #menu="matMenu" class="menu-panel">
                    <button mat-menu-item routerLink="/my-account"> <svg-icon class="material-icons" src="assets/images/ic-manage-accounts.svg"></svg-icon>My Account</button>
                    <button mat-menu-item routerLink="/"> <svg-icon class="material-icons" src="assets/images/ic-logout.svg"></svg-icon>Logout</button>
                </mat-menu>
            </div>
        </div>
    </div>
    <div class="header-center">
        <div class="container">
            <div class="keen-slider-multiple">
                <div class="keen-slider product-list" #sliderRef>
                    <div class="keen-slider__slide" *ngFor="let item of productData">
                        <div matRipple class="product-list-box" [class.active]="active === item.name"
                            (click)="toggleMenu(item.name)">
                            <em>
                                <svg-icon src={{item.img}} [ngClass]="'i '+ item.classes" [applyClass]="false"></svg-icon>
                            </em>
                            {{item.name}}
                        </div>
                        <span class="down-arrow"></span>
                    </div>
                    <div class="slider-nav">
                        <div class="arrow arrow--left" [ngClass]="(currentSlide === 0 ? 'arrow--disabled' : '')"
                            (click)="slider.prev()"><img src="./assets/images/ic-left.svg" alt="" /></div>
                        <div class="arrow arrow--right" [ngClass]="{'arrow--disabled':  nextDisabled}"
                            (click)="slider.next()"><img src="./assets/images/ic-right.svg" alt="" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <ul class="items-list">
                <li *ngFor="let item of itemData">
                    <a [routerLink]="'/product-listing'" class="{{ 'items-list-box ' + item.class}}">
                        <em><img [src]="item.img" alt="" /></em>
                        {{item.name}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="backdrop"></div>