@import "base/break-points";
@import "base/colors";

::ng-deep .main-content {
    @include bp (md-max) {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 40px;
    }
}
.title {
    margin-bottom: 30px;
    @include bp(xs-max) {
        margin-bottom: 20px;
    }
    h4 {
        display: flex;
        align-items: center;
        gap: 14px;
        .primary-t-chip {
            margin-top: -7px;
            white-space: nowrap;
        }
    }
}

.dp-info {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 8px;
    flex-shrink: 0;
    
    h6 {
        margin-bottom: 0;
    }
    .mat-mdc-icon-button.mat-mdc-button-base.xs {
        --mdc-icon-button-state-layer-size: 20px;
        margin-left: 2px;
        position: relative;
        bottom: -2px;
    }
    p {
        color: #666 !important;
    }
}

.details-stepper.tracker {
   
     > li {
        padding: 0 0 40px 43px;

        @include bp(xs-max) {
            padding: 0 0 30px 43px;
        }

        &:last-child {
            padding: 0 0 0px 43px; 
        }
        &:not(.active, .complated) ._head {
            display: flex;
            align-items: center;

            h6 {
                font-weight: 400;
                margin-bottom: 0;
            }
        }
    }
}