<app-layout>
    <div class="container">
        <div class="breadcrumb">
            <a href="javascript:void(0);" class="breadcrumb-link" title="Home" [routerLink]="'/home'">Home</a>
            <a href="javascript:void(0);" class="breadcrumb-link" title="Home" [routerLink]="'/my-account'">My
                Account</a>
            <a href="javascript:void(0);" class="breadcrumb-link" title="Home"
                [routerLink]="'/my-account/Orders'">Orders</a>
            <a href="javascript:void(0);" class="breadcrumb-link" title="Home" [routerLink]="'/order-details'">Order
                Details</a>
            <span class="breadcrumb-text">Order Tracking</span>
        </div>
        <div class="title">
            <h4 class="mb-0">Order ID : 568SDFRE6DD <span class="primary-t-chip orange">Order Placed</span></h4>
        </div>
        <ul class="details-stepper tracker">
            <li class="complated">
                <span class="in"><svg-icon class="f-primary" src="assets/images/ic-checkout.svg"></svg-icon></span>
                <div class="_head">
                    <h6 class="sm">Order Placed</h6>
                    <span>July 25,2023 , 10:15 AM</span>
                </div>
                <ul class="_body">
                    <li class="d-flex align-items-center justify-content-between">
                        <div>
                            <p>Your Order Has Been Placed</p>
                            <span>July 25,2023 , 10:15 AM</span>
                        </div>
                        <div class="text-right">
                            <p class="strong">₹460.00</p>
                            <span class="d-block">Order Total</span>
                        </div>
                    </li>
                    <li>
                        <p>56, Residency Road, Bengaluru, Karnataka, India, ZIP: 560025</p>
                        <span>Shipping Address</span>
                    </li>
                </ul>
            </li>
            <li class="complated">
                <span class="in"><svg-icon class="f-primary" src="assets/images/ic-shopping-bag2.svg"></svg-icon></span>
                <div class="_head">
                    <h6 class="sm">Order Confirmation</h6>
                    <span>June 26,2023 , 10:15 AM</span>
                </div>
                <ul class="_body">
                    <li class="d-flex align-items-center justify-content-between">
                        <div>
                            <p>Your Order Has Been Confirmed</p>
                            <span>June 26, 2023 , 10:15 AM</span>
                        </div>
                        <div class="text-right">
                            <p class="strong">July 1, 2023</p>
                            <span>Estimated Delivery Date</span>
                        </div>
                    </li>
                    <li>
                        <p>Debit Card</p>
                        <span>Payment Method</span>
                    </li>
                </ul>
            </li>
            <li class="complated">
                <span class="in"><svg-icon class="s-primary" src="assets/images/ic-delivery-boy.svg"></svg-icon></span>
                <div class="_head">
                    <h6 class="sm">Order Dispatched</h6>
                    <span>June 26, 2023 , 11:00 AM</span>
                </div>
                <ul class="_body">
                    <li class="d-flex align-items-center justify-content-between">
                        <div>
                            <p>Your Order Has Been Dispatched</p>
                            <span>June 26, 2023 , 11:00 AM</span>
                        </div>
                        <div class="text-right">
                            <p class="strong">Warehouse A</p>
                            <span>Dispatched From</span>
                        </div>
                    </li>
                    <li>
                        <p>Standard Shipping</p>
                        <span>Shipping Method</span>
                    </li>
                </ul>
            </li>
            <li class="complated">
                <span class="in"><svg-icon class="f-primary" src="assets/images/ic-delivert-truk.svg"></svg-icon></span>
                <div class="_head">
                    <h6 class="sm">In Transit</h6>
                    <span>June 26, 2023 , 02:00 AM</span>
                </div>
                <ul class="_body">
                    <li>
                        <p>Package reached Distribution Hub X, State B</p>
                        <span>June 26, 2023 , 02:00 PM</span>
                    </li>
                </ul>
                <ul class="_body">
                    <li>
                        <p>Package transferred to Distribution Hub Y, State C</p>
                        <span>June 27, 2023 , 04:00 PM</span>
                    </li>
                </ul>
                <ul class="_body">
                    <li>
                        <p>Package arrived at Hub C, Nearest to Your Location</p>
                        <span>June 28, 2023 , 06:00 PM</span>
                    </li>
                </ul>
            </li>
            <li class="active">
                <span class="in"><svg-icon class="f-primary"
                        src="assets/images/ic-delivery-scooter.svg"></svg-icon></span>
                <div class="_head">
                    <h6 class="sm">Out for Delivery</h6>
                    <span>June 29, 2023 , 11:00 AM</span>
                </div>
                <ul class="_body">
                    <li class="d-flex align-items-center justify-content-between">
                        <div>
                            <p>Your Order is went out for delivery</p>
                            <span>June 29, 2023 , 11:00 AM</span>
                        </div>
                        <div class="dp-info">
                            <em class="avatar" style="background-image: url(./assets/images/dp5.png);"></em>
                            <div>
                                <h6 class="xs">Jane Smith
                                    <button mat-icon-button color="primary" class="round xs primary"><svg-icon
                                            class="f-primary" src="assets/images/ic-phone2.svg"></svg-icon></button>
                                </h6>
                                <p class="m-0">Delivery Person</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p>Speedy Delivery Services</p>
                        <span>Delivery Company</span>
                    </li>
                </ul>
            </li>
            <li>
                <span class="in"><svg-icon class="f-primary" src="assets/images/ic-delivered.svg"></svg-icon></span>
                <div class="_head">
                    <h6 class="sm">Delivered</h6>
                </div>
            </li>
        </ul>
    </div>
</app-layout>