<div mat-dialog-title>
    <h5 class="m-0">Filter</h5>
    <button mat-icon-button mat-dialog-close><img src="./assets/images/ic-close.svg" /></button>
</div>

<mat-dialog-content class="p-0">
    <mat-tab-group class="vertical-tabs">
        <mat-tab>
            <ng-template mat-tab-label>
                <h6>Pricing</h6>
                <span>₹{{minValue}} - {{maxValue}}</span>
            </ng-template>
            <div class="price-rang-block">
                <h6>Price</h6>
                <strong class="h5">₹{{minValue}} - {{maxValue}}</strong>
                <div class="w-100">
                    <app-rage-slider prefix="₹" [min]="100" [max]="500" [step]="100" [minv]="300" [maxv]="500"></app-rage-slider>
                </div>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <h6>Ratings</h6>
                <span>{{rating}}</span>
            </ng-template>
            <div class="price-rang-block">
                <h6>Ratings</h6>
                <strong class="h5">{{rating}}</strong>
                <div class="w-100">
                    <app-rage-slider [min]="3" [max]="5" [step]="0.5" [minv]="4" [maxv]="5"></app-rage-slider>
                </div>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <h6>Dietary Preference</h6>
                <span>Gluten-Free</span>
            </ng-template>
            <div>
                <mat-chip-listbox class="checkbox-chips secondary">
                    <mat-chip-option>Vegan</mat-chip-option>
                    <mat-chip-option selected>Gluten-Free</mat-chip-option>
                    <mat-chip-option>Dairy-Free</mat-chip-option>
                    <mat-chip-option>Nut-Free</mat-chip-option>
                    <mat-chip-option>Organic</mat-chip-option>
                    <mat-chip-option>Allergen-Free</mat-chip-option>
                    <mat-chip-option>Sugar-Free</mat-chip-option>
                    <mat-chip-option>Paleo</mat-chip-option>
                    <mat-chip-option>Keto</mat-chip-option>
                </mat-chip-listbox>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <h6>Deli Type</h6>
            </ng-template>
            Comming Soon
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <h6>Other</h6>
            </ng-template>
            Comming Soon
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-stroked-button color="primary" class="sm" mat-dialog-close>Clear All</button>
    <button mat-flat-button color="primary" class="sm" [mat-dialog-close]="true" cdkFocusInitial>Apply</button>
</mat-dialog-actions>