@import "base/break-points";
@import "base/colors";


::ng-deep .main-content {
    padding-left: 0;
    padding-right: 0;
}

.product-gallery {
    .main-screen {
        .keen-slider__slide {
            padding: 16px;

            >div {
                padding-bottom: 80.8%;
                // margin-bottom: 16px;
                border-radius: 20px;
                box-shadow: 0px 4px 16px 0px #00000033;
                position: relative;
                overflow: hidden !important;

                img {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .thumbnail {
        .keen-slider__slide {
            padding: 16px;

            >div {
                padding-bottom: 75%;
                border-radius: 10px;
                background-color: #fff;
                border-radius: 10px;
                box-shadow: 0px 4px 16px 0px #00000033;
                position: relative;
                overflow: hidden !important;

                cursor: pointer;

                img {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    opacity: 0.4;
                }

            }

            &.active {
                >div {
                    img {
                        opacity: 1;
                    }
                }
            }
        }

    }
}

.product-details-wrapper {
    display: flex;
    margin: 30px -20px;

    @include bp (md-max) {
        margin: 20px -10px;
    }

    @include bp (smd-max) {
        flex-wrap: wrap;
    }

    >* {
        padding: 0 20px;

        @include bp (md-max) {
            padding: 0 10px;
        }


    }

    .product-gallery {
        width: 41.7%;
        padding: 0 4px;
        margin-top: -15px;

        @include bp (smd-max) {
            width: 100%;
            max-width: 557px;
            margin: 0 auto 20px;

            .main-screen {
                .keen-slider__slide {
                    padding: 8px;

                    >div {
                        padding-bottom: 50.8%;
                        box-shadow: none;
                    }
                }
            }

            .thumbnail {
                .keen-slider__slide {
                    padding: 8px;

                    >div {
                        box-shadow: none;
                    }
                }
            }
        }
    }

    .product-detail {
        width: 58.3%;

        @include bp (smd-max) {
            width: 100%;
        }

        .title {
            flex-wrap: nowrap;
            padding: 20px 0;
            border-bottom: 1px solid $gray-400;
            margin-bottom: 0;

            @include bp (xs-max) {
                padding: 10px 0;
            }

            .info {
                max-width: 500px;

                h3 {
                    margin-bottom: 5px;

                    @include bp (md-max) {
                        font-size: 30px;
                        line-height: 34px;
                    }

                    @include bp (sm-max) {
                        font-size: 28px;
                        line-height: 22px;
                    }
                }
            }

            .rating-box {
                position: relative;
                top: -3px;
            }
        }

        .price-and-delivery-info {
            padding: 20px 0;
            margin-bottom: 24px;
            border-bottom: 1px solid $gray-400;

            @include bp (sm-max) {
                padding: 15px 0;
                margin-bottom: 18px;
            }

            @include bp (xs-max) {
                padding: 10px 0;
                margin-bottom: 10px;
            }

            .price {
                display: inline-block;
                margin-bottom: 6px;

                .text-green {
                    color: #26A661;
                    font-size: 14px;
                    line-height: 18px;
                    margin-left: 10px;
                }
            }

            .delivery-time {
                font-size: 14px;
                line-height: 18px;

                span {
                    color: #222;
                }
            }

        }

        .el-group {
            margin-bottom: 24px;

            @include bp (sm-max) {
                margin-bottom: 18px;
            }

            @include bp (xs-max) {
                margin-bottom: 10px;
            }
        }

        h6 {
            margin-bottom: 10px;
        }

        ::ng-deep .mdc-evolution-chip-set__chips {
            gap: 16px;

            @include bp (xs-max) {
                gap: 8px;
            }

            .mat-mdc-chip-focus-overlay {
                display: none;
            }

            .mat-ripple-element {
                background-color: #E6F4FF !important;
            }
        }

        .store-view-block {
            border-radius: 10px;
        }
    }
}

.customer-review-wrapper {
    display: flex;
    align-items: flex-start;
    padding: 4px 0;

    @include bp (md-max) {
        flex-wrap: wrap;
        padding: 4px 8px;
    }

    .customer-review-info {
        width: calc(100% - 387px);
        padding-right: 40px;

        @include bp (md-max) {
            width: 100%;
            padding-right: 0;
        }

        .filter-block {
            text-align: right;
        }

        .load-more-block {
            text-align: center;
            border-bottom: 1px solid $gray-400;
            padding: 16px;

            a {
                display: inline-flex;
                align-items: center;
                gap: 6px;
                font-size: 14px;
                line-height: 17px;
                font-weight: 600;
            }
        }

        ::ng-deep .rating-star {
            .unselect {
                path {
                    fill: #888888;
                }
            }
        }
    }

    .customer-review-rating {
        max-width: 387px;
        min-width: 387px;
        background-color: #E6F4FF;
        border-radius: 16px;
        text-align: center;
        padding: 33px 20px 26px;

        @include bp (md-max) {
            width: 100%;
            max-width: 100%;
            min-width: auto;
        }


        @include bp (md-max) {
            margin-top: 16px;
        }


        ._top {
            border-bottom: 1px solid #B3DDFF;
            padding-bottom: 24px;
            margin-bottom: 20px;

            strong {
                font-weight: 600;
                font-size: 40px;
                line-height: 44px;
                margin-bottom: 6px;
            }

            span {
                color: #666;
                font-size: 18px;
                line-height: 22px;
                margin: 3px 0;
            }
        }

        ._list {
            li {
                margin-bottom: 13px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.table-list {
    li {
        @include bp (xs-max) {
            &:empty {
                display: none;
            }
        }
    }
}

// ----------------------------------------------------- for testing
::ng-deep .keen-gallery {
    --mdc-dialog-container-color: transparent;

    .mdc-dialog .mdc-dialog__container {
        width: 100%;

        .mat-mdc-dialog-content {
            max-height: 100%;
        }

        .mdc-dialog__title {
            svg path {
                fill: #fff;
            }
        }

        .mdc-dialog__title,
        .mat-mdc-dialog-actions {
            border: none;
        }
    }

    .product-gallery {
        max-width: 500px;
        margin: auto;
    }
}


.mb-30p {
    @include bp (xs-max) {
        margin-bottom: 20px !important;
    }
}