<div mat-dialog-title>
    <h5 class="m-0">Filter</h5>
    <button mat-icon-button mat-dialog-close><img src="./assets/images/ic-close.svg" /></button>
</div>

<mat-dialog-content class="p-0">
    <mat-tab-group class="vertical-tabs">
        <mat-tab>
            <ng-template mat-tab-label>
                <h6>Order Status</h6>
            </ng-template>
            <div>
                <mat-chip-listbox class="checkbox-chips secondary">
                    <mat-chip-option>Placed</mat-chip-option>
                    <mat-chip-option>On The Way</mat-chip-option>
                    <mat-chip-option>Delivered</mat-chip-option>
                    <mat-chip-option>Cancelled</mat-chip-option>
                    <mat-chip-option>Returned</mat-chip-option>
                </mat-chip-listbox>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <h6>Order Time</h6>
            </ng-template>
            <div>
                <mat-chip-listbox class="checkbox-chips secondary">
                    <mat-chip-option>Last 30 Days</mat-chip-option>
                    <mat-chip-option>2022</mat-chip-option>
                    <mat-chip-option>2021</mat-chip-option>
                    <mat-chip-option>2020</mat-chip-option>
                    <mat-chip-option>2019</mat-chip-option>
                    <mat-chip-option>Older</mat-chip-option>
                </mat-chip-listbox>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <h6>Other</h6>
            </ng-template>
            Comming Soon
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-stroked-button color="primary" class="sm" mat-dialog-close>Clear All</button>
    <button mat-flat-button color="primary" class="sm" [mat-dialog-close]="true" cdkFocusInitial>Apply</button>
</mat-dialog-actions>