@import '../../../assets/scss/base/break-points';

::ng-deep .main-content {
    @include bp (md-max) {
        padding-left: 0;
        padding-right: 0;
    }
}

.profile-page {
    .row {
        --bs-gutter-x: 20px;
    }

    .label-val-block {
        >label {
            font-size: 14px;
            color: #666;
            line-height: 18px;
        }

        .val {
            color: #222;
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 0;
        }

        .mat-mdc-icon-button.mat-mdc-button-base.xs {
            --mdc-icon-button-state-layer-size: 20px;
            padding: 2px;
            margin-top: -4px;

            svg,
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .el-group {
        margin-bottom: 30px;
        padding-bottom: 40px;
        border-bottom: 1px solid #E8E8E8;

        &.b-none {
            border: none;
            padding-bottom: 0;
        }

        h6.xs {
            color: #464646;
            margin-bottom: 16px;
        }

        @include bp (smd-max) {
            margin-bottom: 20px;
            padding-bottom: 30px;
        }

        @include bp (xs-max) {
            margin-bottom: 16px;
            padding-bottom: 20px;
        }
    }

    .mb-30p {
        margin-bottom: 30px !important;

        @include bp (smd-max) {
            margin-bottom: 20px !important;
        }

        @include bp (xs-max) {
            margin-bottom: 16px !important;
        }
    }

    ::ng-deep .keen-slider-multiple .slider-nav .arrow {
        display: none;
    }

    ::ng-deep .keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide {
        width: auto;
    }

    .upi-card-wrap {

        .upi-card {
            min-width: 104px;
            height: 66px;

            em {
                display: flex;
            }

            .mat-mdc-icon-button.mat-mdc-button-base.sm {
                --mdc-icon-button-state-layer-size: 20px;
                margin-top: -1px;
            }
        }
    }

    .address-saved-block {
        ::ng-deep .address-block {
            min-width: 282px;
            max-width: 282px;
        }
    }


    .upi-checkbox-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        flex-wrap: wrap;

        @include bp(xs-max) {
            margin-bottom: px;
        }

        ::ng-deep .mat-mdc-checkbox {
            margin-left: -8px;

            .mdc-checkbox__background {
                border-radius: 4px;
            }
        }

        a {
            font-weight: 600;
            display: flex;
            align-items: center;
            gap: 4px;
            font-size: 14px;
            line-height: 18px;

            >.i {
                display: flex;
                margin-top: 3px;
            }
        }
    }

}