<div class="profile-page">
    <div class="el-group">
        <h4 class="mb-30p">Your Profile</h4>
        <h5 class="text-primary mb-30p">Kathryn Murphy</h5>

        <div class="label-val-block mb-30p">
            <label>Phone Number</label>
            <p class="val">
                8856954586
                <button mat-icon-button class="border xs">
                    <svg-icon src="assets/images/ic-edit.svg"></svg-icon>
                </button>
            </p>
        </div>

        <div class="label-val-block">
            <label>Email</label>
            <p class="val">
                kathryn.murphy&#64;example.com
                <button mat-icon-button class="border xs">
                    <svg-icon src="assets/images/ic-edit.svg"></svg-icon>
                </button>
            </p>
        </div>
    </div>
    <div class="el-group">
        <h6 class="mb-30p">Saved Payements</h6>
        <div [ngClass]="{'mb-20p': editCard,'mb-30p': !editCard, }" *ngIf="!addCard">
            <h6 class="xs">Saved Cards</h6>
            <app-keenslider-block>
                <div class="keen-slider__slide">
                    <app-address-block classes="cc" icon="assets/images/ic-craditcard.svg">
                        <div class="info">
                            <div>
                                <h6>xxxx xxxx xxxx 1256</h6>
                                <p class="m-0">expires on 07/23</p>
                            </div>
                            <em class="card-img"><img src="assets/images/visa-img.png" alt="" /></em>
                            <button mat-icon-button class="sm" [matMenuTriggerFor]="menu">
                                <svg-icon src="assets/images/ic-more-vert.svg"></svg-icon>
                            </button>
                            <mat-menu #menu="matMenu" xPosition="before" class="menu-panel sm">
                                <button mat-menu-item (click)="editcard()">
                                    <svg-icon class="material-icons" src="assets/images/ic-edit.svg"></svg-icon>
                                    <span>Edit</span>
                                </button>
                                <button mat-menu-item>
                                    <svg-icon class="material-icons" src="assets/images/ic-delete.svg"></svg-icon>
                                    <span>Delete</span>
                                </button>
                            </mat-menu>
                        </div>
                    </app-address-block>
                </div>
                <div class="keen-slider__slide">
                    <app-address-block classes="cc" icon="assets/images/ic-craditcard.svg">
                        <div class="info">
                            <div>
                                <h6>xxxx xxxx xxxx 4589</h6>
                                <p class="m-0">expires on 07/23</p>
                            </div>
                            <em class="card-img"><img src="assets/images/mastercard-img.png" alt="" /></em>
                            <button mat-icon-button class="sm" [matMenuTriggerFor]="menu">
                                <svg-icon src="assets/images/ic-more-vert.svg"></svg-icon>
                            </button>
                            <mat-menu #menu="matMenu" xPosition="before" class="menu-panel sm">
                                <button mat-menu-item (click)="editcard()">
                                    <svg-icon class="material-icons" src="assets/images/ic-edit.svg"></svg-icon>
                                    <span>Edit</span>
                                </button>
                                <button mat-menu-item>
                                    <svg-icon class="material-icons" src="assets/images/ic-delete.svg"></svg-icon>
                                    <span>Delete</span>
                                </button>
                            </mat-menu>
                        </div>
                    </app-address-block>
                </div>
                <div class="keen-slider__slide add">
                    <div class="add-item h" (click)="addNewCard()">
                        <svg-icon src="assets/images/ic-round-add.svg"></svg-icon>
                        Add New
                    </div>
                </div>
            </app-keenslider-block>
        </div>

        <h6 class="xs" *ngIf="addCard">Add New Card</h6>
        <div class="mb-30p" *ngIf="editCard || addCard">
            <div class="row">
                <div class="col-12">
                    <app-text-field label="Card Number *" value="1234 5678 9012"></app-text-field>
                </div>
                <div class="col-12 col-md-6">
                    <app-text-field label="First Name *" value="Kathryn"></app-text-field>
                </div>
                <div class="col-12 col-md-6">
                    <app-text-field label="Last Name *" value="Murphy"></app-text-field>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <app-text-field label="Expiry Month *" value="11"></app-text-field>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <app-text-field label="Expiry Year *" value="2023"></app-text-field>
                </div>
                <div class="col-12 col-md-6">
                    <app-text-field label="Security Code *" value="123"></app-text-field>
                </div>
                <div class="col-12">
                    <div class="btns-block">
                        <button mat-flat-button color="primary" class="sm" (click)="backSavedCard()">Save</button>
                        <button mat-stroked-button color="primary" class="sm" (click)="backSavedCard()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <h6 class="xs" *ngIf="!addUpi">Saved UPIs</h6>
        <h6 class="xs" *ngIf="addUpi">Add UPIs</h6>
        <div [ngClass]="{'mb-20p': addUpi || editUpi}" *ngIf="!addUpi">
            <app-keenslider-block>
                <div class="keen-slider__slide upi-card-wrap">
                    <div class="upi-card">
                        <em><img src="assets/images/ic-g-pay.svg" alt="" /></em>
                        <button mat-icon-button class="sm" mat-icon-button [matMenuTriggerFor]="menu"
                            aria-label="Example icon-button with a menu">
                            <svg-icon src="assets/images/ic-more-vert.svg"></svg-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before" class="menu-panel sm">
                            <button mat-menu-item (click)="editupi()">
                                <svg-icon class="material-icons" src="assets/images/ic-edit.svg"></svg-icon>
                                <span>Edit</span>
                            </button>
                            <button mat-menu-item>
                                <svg-icon class="material-icons" src="assets/images/ic-delete.svg"></svg-icon>
                                <span>Delete</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div class="keen-slider__slide upi-card-wrap">
                    <div class="upi-card">
                        <em><img src="assets/images/ic-bhim-upi.svg" alt="" /></em>
                        <button mat-icon-button class="sm" mat-icon-button [matMenuTriggerFor]="menu"
                            aria-label="Example icon-button with a menu">
                            <svg-icon src="assets/images/ic-more-vert.svg"></svg-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before" class="menu-panel sm">
                            <button mat-menu-item (click)="editupi()">
                                <svg-icon class="material-icons" src="assets/images/ic-edit.svg"></svg-icon>
                                <span>Edit</span>
                            </button>
                            <button mat-menu-item>
                                <svg-icon class="material-icons" src="assets/images/ic-delete.svg"></svg-icon>
                                <span>Delete</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div class="keen-slider__slide upi-card-wrap">
                    <div class="upi-card">
                        <em><img src="assets/images/ic-paytm.svg" alt="" /></em>
                        <button mat-icon-button class="sm" mat-icon-button [matMenuTriggerFor]="menu"
                            aria-label="Example icon-button with a menu">
                            <svg-icon src="assets/images/ic-more-vert.svg"></svg-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before" class="menu-panel sm">
                            <button mat-menu-item (click)="editupi()">
                                <svg-icon class="material-icons" src="assets/images/ic-edit.svg"></svg-icon>
                                <span>Edit</span>
                            </button>
                            <button mat-menu-item>
                                <svg-icon class="material-icons" src="assets/images/ic-delete.svg"></svg-icon>
                                <span>Delete</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div class="keen-slider__slide upi-card-wrap">
                    <div class="add-item h" (click)="addNewUpi()">
                        <svg-icon src="assets/images/ic-round-add.svg" class="d-flex"></svg-icon>
                        Add New
                    </div>
                </div>
            </app-keenslider-block>
        </div>
        <mat-form-field appearance="fill" subscriptSizing="dynamic" [ngClass]="{'mb-30p': editUpi, 'mb-0':addUpi}"
            *ngIf="editUpi || addUpi">
            <mat-label>UPI ID</mat-label>
            <input matInput value="demo.user@gpay" />
        </mat-form-field>
        <div class="upi-checkbox-block" *ngIf="addUpi">
            <mat-checkbox color="primary" class="sm">Securely save this UPI for a faster
                checkout next
                time</mat-checkbox>
            <a href="javascript:void(0);" title="How to find your UPI ID" (click)="openDialog()">
                <em class="i"> <svg-icon src="assets/images/ic-help.svg"></svg-icon></em>
                How to find your UPI ID
            </a>
        </div>
        <div class="btns-block" *ngIf="editUpi || addUpi">
            <button mat-flat-button color="primary" class="sm" (click)="savedUpi()">Save</button>
            <button mat-stroked-button color="primary" class="sm" (click)="savedUpi()">Cancel</button>
        </div>
    </div>
    <div class="address-saved-block">
        <h6 class="mb-16p" *ngIf="!addAddress">Saved Addresses</h6>
        <div [ngClass]="{'mb-20p': editAddress}" *ngIf="!addAddress">
            <app-keenslider-block>
                <div class="keen-slider__slide">
                    <app-address-block classes="with-right-btn" icon="./assets/images/ic-home.svg">
                        <div class="info">
                            <h6>Home</h6>
                            <p class="m-0">
                                456, Indiranagar 100 Feet Road, Bengaluru, Karnataka
                            </p>
                        </div>
                        <button mat-icon-button class="sm" [matMenuTriggerFor]="menu">
                            <svg-icon src="assets/images/ic-more-vert.svg"></svg-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before" class="menu-panel sm">
                            <button mat-menu-item (click)="editaddr()">
                                <svg-icon class="material-icons" src="assets/images/ic-edit.svg"></svg-icon>
                                <span>Edit</span>
                            </button>
                            <button mat-menu-item>
                                <svg-icon class="material-icons" src="assets/images/ic-delete.svg"></svg-icon>
                                <span>Delete</span>
                            </button>
                        </mat-menu>
                    </app-address-block>
                </div>
                <div class="keen-slider__slide">
                    <app-address-block classes="with-right-btn" icon="./assets/images/ic-office.svg">
                        <div class="info">
                            <h6>Work</h6>
                            <p class="m-0">12 Park Lane, 100 Feet Road, Manchester, England</p>
                        </div>
                        <button mat-icon-button class="sm" [matMenuTriggerFor]="menu">
                            <svg-icon src="assets/images/ic-more-vert.svg"></svg-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before" class="menu-panel sm">
                            <button mat-menu-item (click)="editaddr()">
                                <svg-icon class="material-icons" src="assets/images/ic-edit.svg"></svg-icon>
                                <span>Edit</span>
                            </button>
                            <button mat-menu-item>
                                <svg-icon class="material-icons" src="assets/images/ic-delete.svg"></svg-icon>
                                <span>Delete</span>
                            </button>
                        </mat-menu>
                    </app-address-block>
                </div>
                <div class="keen-slider__slide add">
                    <div class="add-item h" (click)="addNewAdd()">
                        <svg-icon src="assets/images/ic-round-add.svg"></svg-icon>
                        Add New
                    </div>
                </div>
            </app-keenslider-block>
        </div>
        <div class="el-group mb-0 b-none" *ngIf="addAddress || editAddress">
            <h6 class="xs" *ngIf="addAddress">Add New Address</h6>
            <div class="row">
                <div class="col-12">
                    <mat-form-field appearance="fill" class="">
                        <mat-label>Address Type * </mat-label>
                        <mat-select value="option1" panelClass="select-panel">
                            <mat-option value="option1">Home</mat-option>
                            <mat-option value="option2">Office</mat-option>
                            <mat-option value="option3">Other</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <app-text-field label="First Name *" value="Kathryn"></app-text-field>
                </div>
                <div class="col-12 col-md-6">
                    <app-text-field label="Last Name *" value="Murphy"></app-text-field>
                </div>
                <div class="col-12">
                    <app-text-field label="Address *" value="456, Indiranagar 100 Feet Road"></app-text-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-form-field appearance="fill" class="">
                        <mat-label>Country * </mat-label>
                        <mat-select value="option1" panelClass="select-panel">
                            <mat-option value="option1">India</mat-option>
                            <mat-option value="option2">USA</mat-option>
                            <mat-option value="option3">UK</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-form-field appearance="fill" class="">
                        <mat-label>City * </mat-label>
                        <mat-select value="option1" panelClass="select-panel">
                            <mat-option value="option1">Karnataka</mat-option>
                            <mat-option value="option2">Karnataka</mat-option>
                            <mat-option value="option3">Karnataka</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <app-text-field label="Zip Code *" value="560025"></app-text-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-form-field appearance="fill" class="">
                        <mat-label>State * </mat-label>
                        <mat-select value="option1" panelClass="select-panel">
                            <mat-option value="option1">Karnataka</mat-option>
                            <mat-option value="option2">Karnataka</mat-option>
                            <mat-option value="option3">Karnataka</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <div class="btns-block">
                        <button mat-flat-button color="primary" class="sm" (click)="savedaddr()">Save</button>
                        <button mat-stroked-button color="primary" class="sm" (click)="savedaddr()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









<!-- <ul class="btns-block upi-card-wrap" [ngClass]="{'mb-20p': addUpi || editUpi}" *ngIf="!addUpi">
    <li>
        <div class="upi-card">
            <em><img src="assets/images/ic-g-pay.svg" alt="" /></em>
            <button mat-icon-button class="sm" mat-icon-button [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu">
                <svg-icon src="assets/images/ic-more-vert.svg"></svg-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before" class="menu-panel sm">
                <button mat-menu-item (click)="editupi()">
                    <svg-icon class="material-icons" src="assets/images/ic-edit.svg"></svg-icon>
                    <span>Edit</span>
                </button>
                <button mat-menu-item>
                    <svg-icon class="material-icons" src="assets/images/ic-delete.svg"></svg-icon>
                    <span>Delete</span>
                </button>
            </mat-menu>
        </div>
    </li>
    <li>
        <div class="upi-card">
            <em><img src="assets/images/ic-bhim-upi.svg" alt="" /></em>
            <button mat-icon-button class="sm" mat-icon-button [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu">
                <svg-icon src="assets/images/ic-more-vert.svg"></svg-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before" class="menu-panel sm">
                <button mat-menu-item (click)="editupi()">
                    <svg-icon class="material-icons" src="assets/images/ic-edit.svg"></svg-icon>
                    <span>Edit</span>
                </button>
                <button mat-menu-item>
                    <svg-icon class="material-icons" src="assets/images/ic-delete.svg"></svg-icon>
                    <span>Delete</span>
                </button>
            </mat-menu>
        </div>
    </li>
    <li>
        <div class="upi-card">
            <em><img src="assets/images/ic-paytm.svg" alt="" /></em>
            <button mat-icon-button class="sm" mat-icon-button [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu">
                <svg-icon src="assets/images/ic-more-vert.svg"></svg-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before" class="menu-panel sm">
                <button mat-menu-item (click)="editupi()">
                    <svg-icon class="material-icons" src="assets/images/ic-edit.svg"></svg-icon>
                    <span>Edit</span>
                </button>
                <button mat-menu-item>
                    <svg-icon class="material-icons" src="assets/images/ic-delete.svg"></svg-icon>
                    <span>Delete</span>
                </button>
            </mat-menu>
        </div>
    </li>
    <li>
        <div class="add-item h" (click)="addNewUpi()">
            <svg-icon src="assets/images/ic-round-add.svg" class="d-flex"></svg-icon>
            Add New
        </div>
    </li>
</ul> -->