<div mat-dialog-title>
    <h5 class="m-0">Find your UPI ID</h5>
    <button mat-icon-button mat-dialog-close><img src="./assets/images/ic-close.svg" /></button>
</div>

<mat-dialog-content class="p-0">
    <div class="upi-dialog" *ngIf="!upidetails">
        <h4>Please select your UPI app</h4>
        <ul class="btns-block upi-card-wrap">
            <li>
                <div class="upi-card" (click)="changeUpi()">
                    <em class="d-flex"><img src="assets/images/ic-g-pay.svg" alt=""></em>
                </div>
            </li>
            <li>
                <div class="upi-card" (click)="changeUpi()">
                    <em class="d-flex"><img src="assets/images/ic-bhim-upi.svg" alt=""></em>
                </div>
            </li>
            <li>
                <div class="upi-card" (click)="changeUpi()">
                    <em class="d-flex"><img src="assets/images/ic-paytm.svg" alt=""></em>
                </div>
            </li>
            <li>
                <div class="upi-card" (click)="changeUpi()">
                    <em class="d-flex"><img src="assets/images/ic-phonepe.svg" alt=""></em>
                </div>
            </li>
        </ul>
    </div>

    <div class="upi-details" *ngIf="upidetails">
        <ul class="upi-card-wrap">
            <li>
                <div class="upi-card active r">
                    <em class="d-flex"><img src="assets/images/ic-g-pay.svg" alt=""></em>
                </div>
            </li>
            <li>
                <div class="upi-card r">
                    <em class="d-flex"><img src="assets/images/ic-bhim-upi.svg" alt=""></em>
                </div>
            </li>
            <li>
                <div class="upi-card r">
                    <em class="d-flex"><img src="assets/images/ic-paytm.svg" alt=""></em>
                </div>
            </li>
            <li>
                <div class="upi-card r">
                    <em class="d-flex"><img src="assets/images/ic-phonepe.svg" alt=""></em>
                </div>
            </li>
        </ul>

        <mat-accordion class="basic-accordion">
            <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span class="num-round">1</span> See UPI ID in Google Pay App Homepage
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="_body">
                    <div class="img-info-block">
                        <div class="_img">
                            <img src="./assets/images/upi-step1.png" alt="">
                        </div>
                        <div class="_info">
                            First, enter your Google Pin and open the Google Pay application on your mobile. A new page
                            will open before you, where you can see various options, such as Bank transfer, Pay Bills,
                            mobile recharge, and many others. But, if you scroll down on this page to see your UPI ID,
                            you will able to find the primary UPI id in middle with copy option. To find UPI Id
                            belonging to another bank, you have to visit another section of the app
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span class="num-round">2</span> Find Google Pay UPI ID in Profile Section
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="_body">
                    <app-slider-number-nav>
                        <div class="keen-slider__slide">
                            <div class="img-info-block">
                                <div class="_img">
                                    <img src="./assets/images/upi-step2.png" alt="">
                                </div>
                                <div class="_info">
                                    <span class="step">Step 1</span>
                                    <p>Click on the <strong>Profile</strong> Icon (located at the top-right corner of
                                        the mobile page), which is your Google Pay account.</p>
                                </div>
                            </div>
                        </div>
                        <div class="keen-slider__slide">
                            <div class="img-info-block reverse">
                                <div class="_img">
                                    <img src="./assets/images/upi-step3.png" alt="">
                                </div>
                                <div class="_info">
                                    <span class="step">Step 2</span>
                                    <p>Now, a new page will open up before you, showing you the various options: BANK
                                        ACCOUNT, AUTO PAY, SETTINGS, and GET HELP. Now click on the <strong>Bank
                                            Account</strong> option under the setup payment method.</p>
                                </div>
                            </div>
                        </div>
                        <div class="keen-slider__slide">
                            <div class="img-info-block">
                                <div class="_img">
                                    <img src="./assets/images/upi-step4.png" alt="">
                                </div>
                                <div class="_info">
                                    <span class="step">Step 3</span>
                                    <p>Now, a new page will open before you, showing you the Payment Method title and
                                        UPI IDs option. Click on the choose desired <strong>Bank Name</strong> to see
                                        UPI ID. Here, I am selecting the Kotak bank account</p>
                                </div>
                            </div>
                        </div>
                        <div class="keen-slider__slide">
                            <div class="img-info-block reverse">
                                <div class="_img">
                                    <img src="./assets/images/upi-step5.png" alt="">
                                </div>
                                <div class="_info">
                                    <span class="step">Step 4</span>
                                    <p>Under Manage UPI ID, you will see all your UPI IDs added to the Google Pay
                                        account. You can use these UPI IDs to transfer or receive money from any other
                                        person quickly.</p>
                                </div>
                            </div>
                        </div>
                    </app-slider-number-nav>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span class="num-round">3</span> Find Google Pay UPI ID on QR Code
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="_body">
                    <app-slider-number-nav>
                        <div class="keen-slider__slide">
                            <div class="img-info-block">
                                <div class="_img">
                                    <img src="./assets/images/upi-step6.png" alt="">
                                </div>
                                <div class="_info">
                                    <span class="step">Step 1</span>
                                    <p>Now, you must return to the previous page. Here you will see the <strong>profile
                                            icon with the QR code sign</strong> at the top right corner of the mobile
                                        screen. Click on this <strong>profile icon.</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="keen-slider__slide">
                            <div class="img-info-block reverse">
                                <div class="_img">
                                    <img src="./assets/images/upi-step7.png" alt="">
                                </div>
                                <div class="_info">
                                    <span class="step">Step 2</span>
                                    <p>A new page will open before you, showing you your UPI IDs below your QR code on
                                        the same page. You can also select the bank name to know UPI Id belonging to
                                        that bank account.</p>
                                </div>
                            </div>
                        </div>
                    </app-slider-number-nav>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

</mat-dialog-content>