.range-slider-wrapper {
    width: 100%;
    --mdc-slider-inactive-track-height: 10px;
    --mdc-slider-active-track-height:10px;
    --mdc-slider-with-tick-marks-container-size: 20px;
    --mdc-slider-with-tick-marks-active-container-color:#008cff;
    --mdc-slider-with-tick-marks-inactive-container-color:#EEF0F1;
    .list-array {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        > li {
            min-width: 24px;
            text-align: center;
        }
    }

    ::ng-deep .mat-mdc-slider {
        width: calc(100% - 16px);
        .mdc-slider__track--inactive {
            background-color: #EEF0F1;
            opacity: 1;
        }
      .mdc-slider__tick-marks .mdc-slider__tick-mark--active, .mdc-slider__tick-marks .mdc-slider__tick-mark--inactive {
            left: -8px;
            opacity: 1;
        }
        .mdc-slider__thumb-knob::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #fff;
        }
    }
}