<mat-form-field appearance="fill" class={{class}}>
    <mat-label>{{label}}</mat-label>
    <input matInput type={{type}} value={{value}} [disabled]="disable == 'true' ? true : null" [required]="required"/>

    <!-- append img -->
    <div *ngIf="img"  matSuffix>
        <img src={{img}} />
    </div>

    <!-- append btn-img -->
     <button *ngIf="btn" mat-icon-button matSuffix onclick="event. preventDefault()">
        <img src={{btn}} />
    </button>

    <!-- <button *ngIf="callLink" mat-icon-button matSuffix [routerLink]="callLink">
        <img src={{btn}} />
    </button> -->
</mat-form-field>

<!-- [attr.disabled]="disable == 'true' ? true : null" -->