<div mat-dialog-title>
    <h5 class="m-0">Cancel Order</h5>
    <button mat-icon-button mat-dialog-close><img src="./assets/images/ic-close.svg" /></button>
</div>

<mat-dialog-content>
    <div *ngIf="!uploadDiv">
        <h6 class="mt3">Please select and submit an appropriate reason for why you would like to cancel this order.</h6>
        <div class="radio-list">
            <mat-radio-group color="primary">
                <mat-radio-button value="1" class="d-block" (change)="radioButtonChanged($event);">
                    I received the items, but they were damaged during delivery.
                </mat-radio-button>
                <mat-radio-button value="2" class="d-block" (change)="radioButtonChanged($event);">
                    I accidentally placed two identical orders.
                </mat-radio-button>
                <mat-radio-button value="3" class="d-block" (change)="radioButtonChanged($event);">
                    I mistakenly ordered the wrong product
                </mat-radio-button>
                <mat-radio-button value="4" class="d-block" (change)="radioButtonChanged($event);">
                    The expected delivery time has been significantly delayed, and I can't wait any longer.
                </mat-radio-button>
                <mat-radio-button value="Other" class="d-block" (change)="radioButtonChanged($event);">
                    Other
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="textarea-block" *ngIf="textarea">
            <mat-form-field appearance="fill" class="w-100 mh">
                <textarea matInput placeholder="Write here ..."></textarea>
            </mat-form-field>
        </div>
    </div>


    <div class="upload-wrapper" *ngIf="uploadDiv">
        <h6 class="mt3">Please upload photos or videos of damaged product.</h6>
        <div class="drag-over-wrapper upload">
            <input type="file" class="input-file" id="fileInput">
            <label for="fileInput" class="drag-over upload">
                <em class="i"><img src="assets/images/ic-upload.svg" /> </em>
                <p class="text-primary m-0">Drag and drop files here</p>
                <span class="or">OR</span>
                <button mat-flat-button color="primary" class="xs">Browse File</button>
            </label>
        </div>
        <ul class="uploded-file-list">
            <li>
                <div class="_box">
                    <img src="assets/images/damage-img.png" alt="" />
                </div>
            </li>
            <li>
                <div class="_box">
                    <img src="assets/images/damage-img.png" alt="" />
                    <span class="_play text-icon"> <em class="i"><img src="assets/images/ic-play-arrow.svg"
                                alt="" /></em>01:20</span>
                </div>
            </li>
        </ul>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-stroked-button color="primary" class="sm" mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary" class="sm" (click)="uploadClick()" *ngIf="!uploadDiv">Upload</button>
    <button mat-flat-button color="primary" class="sm" [mat-dialog-close]="true" cdkFocusInitial *ngIf="uploadDiv"
        (click)="openDialog()">Submit Cancel Request</button>
</mat-dialog-actions>