<div class="keen-slider-multiple">
    <div class="keen-slider" #sliderRef>
        <ng-content></ng-content>
    </div>
    <div class="slider-nav">
        <div class="arrow arrow--left" [ngClass]="(currentSlide === 0 ? 'arrow--disabled' : '')"
            (click)="slider.prev()"><img src="./assets/images/ic-left.svg" alt="" /></div>

        <span class="number"> <strong> 0{{currentSlide + 1}} </strong> / 0{{totSlider}}</span>
        <div class="arrow arrow--right" [ngClass]=" 'arrow arrow--right ' + (totSlider - 1 === currentSlide
          ? 'arrow--disabled'
          : '')" (click)="slider.next()"><img src="./assets/images/ic-right.svg" alt="" /></div>
    </div>
</div>