@import '../../../assets/scss/base/break-points';

.keen-slider-multiple {
    .keen-slider .keen-slider__slide {
        overflow: visible;
    }

    .slider-nav {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .arrow {
            position: static;

            &.arrow--disabled {
                display: inline-flex;
                opacity: 0.4;
            }

        }

        .number {
            margin-top: 2px;
            color: #666666;
            font-size: 14px;
            line-height: 18px;

            strong {
                font-size: 18px;
                line-height: 22px;
                font-weight: 600;
                color: #222;

                @include bp(xs-max) {
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }
    }
}