@import '../../../../assets/scss/base/break-points';

.pop-thumb-msg {
    .i {
        margin-bottom: 20px;
        @include bp(xs-max) {
            width: 75px;
            margin-bottom: 10px;
        }
    }

    h4 {
        margin-bottom: 20px;
        @include bp(xs-max) {
            margin-bottom: 10px;
        }
    }
}