<div mat-dialog-title class="b-none">
    <h5 class="m-0"></h5>
    <button mat-icon-button mat-dialog-close><img src="./assets/images/ic-close.svg" /></button>
</div>

<mat-dialog-content>
    <div class="pop-thumb-msg">
        <em class="i"><img src="./assets/images/ic-added-successfully.svg" /></em>
        <h4>Your Cancellation Request has been submitted successfully</h4>
        <p class="mb-0">Our customer executive will contact you shortly to solve your problem.</p>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-flat-button color="primary" class="sm" [mat-dialog-close]="true" cdkFocusInitial>ok </button>
</mat-dialog-actions>