@import "base/break-points";
@import "base/colors";

html {
    --mdc-outlined-button-label-text-tracking: 0;
}


// Text Field 
// -----------------------------------------------------------------------------------------
.mat-mdc-form-field {
    width: 100%;
    --mdc-filled-text-field-container-color: #fff;
    --mat-form-field-focus-state-layer-opacity: 0;
    --mat-form-field-container-height: 48px;
    --mat-form-field-filled-with-label-container-padding-top: 22px;
    --mat-form-field-filled-with-label-container-padding-bottom: 1px --mdc-filled-text-field-label-text-color: #666;
    --mdc-filled-text-field-label-text-color: #666;
    --mdc-filled-text-field-disabled-input-text-color: #222;
    --mdc-outlined-text-field-outline-color: #E8E8E8;
    --mat-form-field-container-text-tracking: 0;
    --mdc-outlined-text-field-container-shape: 8px;
    --mdc-filled-text-field-input-text-color: #222;

    &.filled {
        --mdc-filled-text-field-container-color: #E6F4FF;
        --mdc-filled-text-field-disabled-container-color: #E6F4FF;
        --mdc-filled-text-field-disabled-input-text-color: #222;
        --mdc-filled-text-field-disabled-label-text-color: #666;

        .mdc-text-field {
            border: none;
        }
    }

    .mdc-text-field {
        border: 1px solid $gray-400;
        border-radius: 8px;
        transition: all 0.3s;
        height: 48px;
    }

    &.mat-focused {
        .mdc-text-field {
            border-color: var(--mdc-filled-text-field-focus-label-text-color);
        }
    }

    [matformfieldlineripple] {
        display: none;
    }

    &.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
        padding-right: 5px;
    }

    .mat-mdc-form-field-icon-prefix,
    .mat-mdc-form-field-icon-suffix {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        .mdc-icon-button {
            position: relative;
            z-index: 1000;
        }
    }

    .mdc-icon-button.mat-mdc-icon-button {
        --mdc-icon-button-icon-size: 20px;
        --mdc-icon-button-state-layer-size: 30px;

        &.mat-mdc-button-base {
            padding: 6px;
        }

        .mat-mdc-button-touch-target {
            width: 30px;
            height: 30px;
        }
    }

    .mat-mdc-form-field-bottom-align::before {
        height: auto;
    }

    &.mh {
        .mdc-text-field {
            min-height: auto;
            height: auto;
        }

        .mat-mdc-form-field-infix {
            padding: 0;

            textarea {
                min-height: 110px;
                padding: 10px 0;
                resize: none;
            }
        }
    }
}

// Buttons
// -----------------------------------------------------------------------------------------
.mdc-button.mat-mdc-button-base {
    letter-spacing: 0;
    --mdc-text-button-container-height: 48px;
    --mdc-filled-button-container-height: 48px;
    --mdc-filled-button-label-text-size: 16px;
    --mdc-filled-button-label-text-weight: 600;
    --mdc-filled-button-container-shape: 8px;
    --mdc-outlined-button-container-height: 48px;
    --mdc-outlined-button-label-text-size: 16px;
    --mdc-outlined-button-label-text-weight: 600;
    --mdc-outlined-button-container-shape: 8px;
    padding: 0 20px;

    .mdc-button__label {
        display: inline-block;
        line-height: 1;
        position: relative;
        top: 1px;
    }

    &.sm {
        --mdc-filled-button-container-height: 40px;
        --mdc-outlined-button-container-height: 40px;
        --mdc-text-button-container-height: 40px;
    }

    &.smd {
        --mdc-filled-button-container-height: 44px;
        --mdc-outlined-button-container-height: 44px;
        --mdc-text-button-container-height: 44px;
        padding: 0 13px;
    }

    &.xs {
        --mdc-filled-button-container-height: 34px;
        --mdc-outlined-button-container-height: 34px;
        --mdc-text-button-container-height: 34px;
        --mdc-filled-button-label-text-size: 14px;
        --mdc-outlined-button-label-text-size: 14px;
        padding: 0 16px;
    }


    &.w-ic {
        .mdc-button__label {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }

    &.link-btn {
        --mdc-filled-button-label-text-color: #222;
    }

    &.mat-mdc-outlined-button:not(:disabled) {
        border-color: var(--mdc-outlined-button-label-text-color);
    }

    &.orange {
        --mdc-filled-button-container-color: #FF9671;
        --mdc-filled-button-label-text-color: #fff;
    }

    .material-icons {
        margin-bottom: 2px;
        margin-right: 3px;
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.lg {
            width: 24px;
            height: 24px;
        }

        &.s-primary {
            svg {
                path {
                    stroke: $primary-500;
                }
            }
        }

        &.f-primary {
            svg {
                path {
                    fill: $primary-500;
                }
            }
        }
    }

    &.mat-primary {
        --mdc-filled-button-disabled-container-color: rgba(0, 140, 255, 0.6);
        --mdc-filled-button-disabled-label-text-color: #fff;
    }
}

.mat-mdc-icon-button.mat-mdc-button-base {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &.sm {
        --mdc-icon-button-state-layer-size: 34px;
        --mdc-icon-button-icon-size: 20px;
        padding: 2px;
    }

    &.xs {
        --mdc-icon-button-state-layer-size: 24px;
        --mdc-icon-button-icon-size: 14px;
        padding: 1px;
    }

    &.border {
        border: 1px solid $gray-400;
    }

    &.primary {
        background-color: #008CFF;

        .f-primary {
            svg path {
                fill: #fff;
            }
        }
    }

    svg-icon {
        display: flex;
    }
}

// Checkbox
// -----------------------------------------------------------------------------------------
.mat-mdc-checkbox {
    --mdc-form-field-label-text-size: 16px;
    --mdc-form-field-label-text-color: #222;

    &.mat-primary {
        --mdc-checkbox-unselected-icon-color: #E8E8E8;
        --mdc-checkbox-unselected-hover-icon-color: #c9c9c9;
        --mdc-checkbox-unselected-focus-icon-color: #c9c9c9;
    }

    .mdc-checkbox__background {
        width: 20px;
        height: 20px;
        top: 5.5px;
        left: 6px;
    }

    &.lg {
        .mdc-checkbox__background {
            width: 28px;
            height: 28px;
            top: 5.5px;
            left: 6px;
        }
    }

    .mdc-form-field>label {
        letter-spacing: 0;
        margin-top: 3px;
    }

    &.sm {
        .mdc-form-field>label {
            font-size: 14px;
            line-height: 18px;
        }
    }

}

// radio
// -----------------------------------------------------------------------------------------
.mat-mdc-radio-button {
    --mdc-form-field-label-text-size: 16px;
    --mdc-form-field-label-text-color: #222;

    // &.mat-primary {
    //     --mdc-radio-selected-focus-icon-color: #fff;
    //     --mdc-radio-selected-hover-icon-color: #fff;
    //     --mdc-radio-selected-icon-color: #fff;
    // }
    .mdc-radio__outer-circle {
        border-width: 1px;
        --mdc-radio-unselected-icon-color: #E8E8E8;
    }

    .mdc-radio:hover .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle,
    .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
        background-color: #008CFF;
    }

    .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle,
    .mdc-radio:hover .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
        --mdc-radio-selected-icon-color: #fff;
        --mdc-radio-selected-hover-icon-color: #fff;
        --mdc-radio-selected-focus-icon-color: #fff;
    }

    .mdc-form-field:hover {
        .mdc-radio .mdc-radio__native-control:not([disabled]):not(:focus)~.mdc-radio__background::before {
            opacity: .04;
            transform: scale(1);
        }

        .mdc-label {
            cursor: pointer;
        }
    }
}



// Chips
// -----------------------------------------------------------------------------------------
.primary-t-chip {
    background-color: #E6F4FF;
    color: $primary-500;
    border-radius: 50px;
    padding: 6px 12px 5px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    // padding-top: 8px;
    min-height: 28px;

    &.orange {
        background-color: #F47C51;
        color: #fff;
    }

    &.yellow {
        background-color: #FF9900;
        color: #fff;
    }

    &.green {
        background-color: #26A661;
        color: #fff;
    }

    &.d-flex {
        padding: 5px 12px;

        >em {
            width: 16px;
            min-width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 4px 2px 0;
        }
    }

}

.mat-mdc-chip-set.mdc-evolution-chip-set .mdc-evolution-chip {
    margin: 6px 0 6px 16px;
}

.mat-mdc-chip {
    &.mat-mdc-standard-chip {
        --mdc-chip-elevated-container-color: #fff;
        --mdc-chip-label-text-color: #222222;
        --mdc-chip-container-height: 34px;
        --mdc-chip-container-shape-radius: 30px;
        border: 1px solid #E8E8E8;
    }

    &.chip-secondary {
        --mdc-chip-elevated-container-color: #E6F4FF;
        --mdc-chip-container-height: 40px;
        border: 1px solid #B3DDFF;
        padding: 0 4px 0 17px;

        .mdc-evolution-chip__action--primary {
            padding-left: 0 !important;
        }

        .mat-mdc-chip-action-label {
            top: 1px;
        }

        .mat-mdc-chip-focus-overlay,
        .mat-mdc-chip-ripple {
            display: none;
        }
    }
}

.selectable {

    .mat-mdc-standard-chip {
        &.mat-mdc-chip-selected.mat-primary {
            --mdc-chip-elevated-selected-container-color: #E6F4FF;
            --mdc-chip-disabled-label-text-color: #222222;
            --mdc-chip-selected-label-text-color: #222222;
            border-color: #B3DDFF;
        }

        .mdc-evolution-chip__text-label {
            font-size: 16px;
            line-height: 20px;
            margin-top: 4px;
            letter-spacing: 0;
        }
    }

    &.mat-mdc-chip-set.mdc-evolution-chip-set {

        .mdc-evolution-chip-set__chips {
            margin-left: 0;
            gap: 14px;
        }

        .mdc-evolution-chip {
            margin: 0;
        }
    }

    .mdc-evolution-chip__action--primary {
        padding: 2px 16px !important;
        border-color: #B3DDFF;
    }

    .mdc-evolution-chip__graphic {
        display: none;
    }

    &.sm {
        .mat-mdc-standard-chip {
            .mdc-evolution-chip__text-label {
                font-size: 14px;
                line-height: 18px;

            }
        }
    }
}

.checkbox-chips {
    .mat-mdc-chip.mat-mdc-standard-chip {
        --mdc-chip-container-height: 40px;
        --mdc-chip-label-text-line-height: 20px;
        --mdc-chip-label-text-size: 16px;
        --mdc-chip-label-text-weight: 400;

        &.mat-mdc-chip-selected {
            --mdc-chip-elevated-container-color: #E6F4FF;
            --mdc-chip-disabled-label-text-color: #222;
            --mdc-chip-selected-label-text-color: #222;
            --mdc-chip-elevated-selected-container-color: #E6F4FF;
            border-color: #B3DDFF;
        }

        .mat-mdc-chip-action {
            padding: 2px 20px 0;
        }

        .mdc-evolution-chip__graphic {
            display: none;
        }

        .mat-mdc-chip-focus-overlay {
            display: none;
        }

        .mat-ripple-element {
            background-color: #E6F4FF !important;
        }
    }
}

// Toggle Button
// -----------------------------------------------------------------------------------------
.toggle-btns-wrapper.mat-button-toggle-group {
    --mat-standard-button-toggle-selected-state-background-color: #008CFF;
    --mat-standard-button-toggle-shape: 8px;
    --mat-standard-button-toggle-height: 1;
    overflow: visible;

    .mat-button-toggle-appearance-standard+.mat-button-toggle-appearance-standard {
        border: none;
    }

    .mat-button-toggle {
        width: 40px;
        min-height: 40px;
        min-width: 40px;
        overflow: hidden;
        border-radius: 8px;

        svg {
            fill: #888;
        }

        .mat-button-toggle-button {
            width: 100%;
            height: 100%;
        }

        &.mat-button-toggle-checked {
            margin: -1px;
            position: relative;
            z-index: 1;

            svg {
                fill: #fff;
            }
        }
    }
}

// Select
// -----------------------------------------------------------------------------------------
.mat-mdc-form-field {
    .mat-mdc-select {
        .mat-mdc-select-arrow {
            width: 20px;
            height: 20px;
            background-image: url(../../images/ic-down.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 20px;
            position: relative;
            right: -6px;
            top: -2px;

            svg {
                display: none;
            }
        }
    }
}

.select.mat-mdc-form-field {
    font-size: 14px;
    line-height: 18px;
    --mat-form-field-container-text-tracking: 0;
    // --mat-form-field-container-height: 40px;
    --mat-form-field-container-vertical-padding: 8px;
    --mdc-outlined-text-field-outline-color: #E8E8E8;

    .mat-mdc-text-field-wrapper {
        width: auto;
    }

    .mat-mdc-form-field-infix {
        display: flex;
        align-items: center;
        width: auto;

        label {
            min-width: 59px;
        }
    }

    .mat-mdc-select {
        font-size: 14px;
        line-height: 18px;
        color: $primary-500;

        .mat-mdc-select-arrow {
            width: 18px;
            height: 18px;
            background-image: url(../../images/ic-down.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 18px;
            position: static;

            svg {
                display: none;
            }
        }
    }

    &.no-b {
        --mdc-outlined-text-field-outline-color: transparent;
        --mat-form-field-container-vertical-padding: 0;
        --mat-form-field-container-height: 0;
        --mdc-outlined-text-field-focus-outline-color: transparent;
        letter-spacing: 0;

        .mat-mdc-text-field-wrapper {
            padding: 0;
            height: auto;
            border: none;
        }
    }
}

.short-select.mat-mdc-form-field {
    .mdc-text-field {
        height: 40px;
        --mat-form-field-container-height: 40px;
    }
}

.cdk-overlay-container {
    z-index: 1001;
}

.myPanel.mat-mdc-select-panel {
    box-shadow: 0px 4px 16px 0px #00000014;
    border: 1px solid #E8E8E8;
    border-radius: 10px !important;
    background-color: #fff;
    --mat-minimal-pseudo-checkbox-selected-checkmark-color: #26A661;
    --mat-option-selected-state-layer-color: transparent;
    --mat-option-selected-state-label-text-color: #222;
    min-width: 295px;

    &.auto-w {
        min-width: 150px;
    }


    .mat-mdc-option.mdc-list-item {
        // flex-direction: row-reverse;
        padding-left: 50px;
        position: relative;
        font-size: 14px;
        line-height: 18px;

        .mat-pseudo-checkbox {
            position: absolute;
            top: 12px;
            left: 0;
        }
    }

    &.short {
        min-width: 217px;

        .mat-mdc-option.mdc-list-item {
            min-height: 40px;
        }
    }
}

.select-panel {
    min-width: 100px;
    box-shadow: 0px 4px 16px 0px #00000014;

    .mat-pseudo-checkbox {
        display: none;
    }

    .mat-mdc-option.mdc-list-item {
        min-height: 30px;
    }
}

// ng-select
// -----------------------------------------------------------------------------------------
.select-icon.ng-select {
    .ng-select-container {
        min-height: 56px;
        border-radius: 8px;
        position: relative;
        padding-left: 40px;
        border: 1px solid #E8E8E8 !important;

        @include bp (sm-max) {
            min-height: 42px;
        }
    }

    .ng-value {
        .i {
            top: calc(50% - 14px);
            left: 16px;
            position: absolute;
            width: 24px;
            height: 24px;
            object-fit: contain;
        }
    }

    .ng-arrow-wrapper {
        width: 18px;
        height: 18px;
        margin-right: 8px;

        .ng-arrow {
            width: 18px;
            height: 18px;
            background-image: url(../../images/ic-down.svg);
            background-repeat: no-repeat;
            background-position: right center;
            background-size: 18px;
            border: none;
        }
    }

    &.ng-select-opened {
        >.ng-select-container .ng-arrow {
            top: 0;
        }
    }
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    text-align: left;
    display: flex !important;
    align-items: center;
    gap: 8px;
    padding: 4px 18px;
    color: $gray-700;
}

// Dialog
// -----------------------------------------------------------------------------------------
.mat-mdc-dialog-panel .mat-mdc-dialog-container {
    --mdc-dialog-container-shape: 20px;

    .mdc-dialog__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 13px 30px;
        border-bottom: 1px solid $gray-400;
        min-height: 82px;

        @include bp (sm-max) {
            min-height: auto;
            padding: 12px 20px;
        }

        @include bp (xs-max) {
            min-height: auto;
            padding: 10px 15px;
        }

        &.b-none {
            border-bottom: none;
        }

        .mat-mdc-icon-button {
            padding: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            right: -12px;

            img {
                width: 30px;
                min-width: 30px;
                height: 30px;
            }
        }

        &::before {
            display: none;
        }

        +.mat-mdc-dialog-content {
            padding-top: 24px;

            @include bp (sm-max) {
                padding-top: 10px;
            }
        }
    }

    .mat-mdc-dialog-content {
        padding: 24px 30px;

        @include bp (sm-max) {
            padding: 10px 20px;
        }

        @include bp (xs-max) {
            min-height: auto;
            padding: 10px 15px;
        }
    }

    .mat-mdc-dialog-actions {
        border-top: 1px solid $gray-400;
        padding: 13px 30px;
        min-height: 82px;
        gap: 16px;

        @include bp (sm-max) {
            min-height: auto;
            padding: 10px 20px;
            gap: 8px;
        }

        @include bp (xs-max) {
            min-height: auto;
            padding: 10px 15px;
        }

        .mdc-button.mat-mdc-button-base {
            --mdc-filled-button-container-height: 40px;
            --mdc-outlined-button-container-height: 40px;
            margin: 0 !important;

            @include bp (xs-max) {
                padding: 0 8px;
            }
        }
    }
}

.mdl-modal {
    .mdc-dialog__container {
        width: 991px;
        max-width: 100%;
    }
}

.md-modal {
    .mdc-dialog__container {
        width: 767px;
        max-width: 100%;
    }
}


// keen-slider
// -----------------------------------------------------------------------------------------
.keen-slider-multiple {
    position: relative;

    .slider-nav {
        .arrow {
            position: absolute;
            top: calc(50% - 15px);
            left: -8px;
            width: 30px;
            min-width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid $gray-400;
            box-shadow: 0px 4px 16px 0px #00000033;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                box-shadow: 0px 4px 16px 4px #00000033;
            }

            &.arrow--disabled {
                display: none;
            }

            &.arrow--right {
                left: auto;
                right: -8px;
            }
        }
    }
}

.keen-slider .keen-slider__slide {
    overflow: visible !important;
}


// Tabs
// -----------------------------------------------------------------------------------------
.mat-mdc-tab-group {
    &.vertical-tabs {
        flex-direction: row;
        min-height: 435px;

        @include bp (sm-max) {
            flex-direction: column;
            min-height: auto;
        }

        .mat-mdc-tab-header {
            margin-bottom: 0px;
        }

        .mat-mdc-tab-label-container {
            background-color: #E6F4FF;
        }

        .mat-mdc-tab-labels {
            flex-direction: column;

            @include bp (sm-max) {
                flex-direction: row;
            }

            .mat-mdc-tab {
                width: 240px;
                display: block;
                text-align: left;
                padding: 0;
                --mdc-secondary-navigation-tab-container-height: 70px;

                @include bp (sm-max) {
                    width: auto;
                    min-width: 150px;
                }


                &.mdc-tab-indicator--active {
                    background-color: #fff;
                }

                .mdc-tab__content {
                    display: block;
                }

                .mdc-tab__text-label {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 10px 30px;
                    min-height: 70px;
                    color: #666666 !important;
                    font-weight: 400 !important;

                    h6 {
                        font-size: 18px;
                        line-height: 22px;
                        font-weight: 400;
                        margin: 0;
                    }

                    span {
                        margin-top: 6px;
                    }
                }
            }
        }

        .mat-mdc-tab-header-pagination {
            display: none;

            @include bp (sm-max) {
                display: flex;
            }
        }

        .mat-mdc-tab-body-wrapper {
            width: 100%;

            .mat-mdc-tab-body {
                padding-top: 0;
            }
        }

        .mat-mdc-tab-body-content {
            padding: 30px;

            @include bp (sm-max) {
                padding: 20px;
            }
        }

        .mdc-tab-indicator__content--underline {
            border-top: none;
            border-left: 3px solid var(--mdc-tab-indicator-active-indicator-color);
            height: 100%;

            @include bp (sm-max) {
                border-left: none;
                border-top: 3px solid var(--mdc-tab-indicator-active-indicator-color);
            }
        }

        @include bp (sm-max) {
            .mat-mdc-tab-header {
                border: none;
            }
        }

    }

    .mat-mdc-tab-header {
        // margin-bottom: 34px;
        border-bottom: 1px solid $gray-400;
        --mdc-secondary-navigation-tab-container-height: 44px;

        // @include bp (sm-max) {
        //     margin-bottom: 26px;
        // }

        // @include bp (xs-max) {
        //     margin-bottom: 20px;
        // }
    }

    .mat-mdc-tab-body {
        padding-top: 34px;

        @include bp (sm-max) {
            padding-top: 26px;
        }

        @include bp (xs-max) {
            padding-top: 20px;
        }
    }

    .mat-mdc-tab {
        .mdc-tab__text-label {
            --mat-tab-header-inactive-label-text-color: #666;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.02px;
        }

        &.mdc-tab--active {
            .mdc-tab__text-label {
                font-weight: 600;
            }
        }
    }
}

// Accordion
// -----------------------------------------------------------------------------------------
.mat-accordion {
    .mat-expansion-panel {
        border: 1px solid $gray-400;
        border-radius: 8px !important;
        box-shadow: none !important;
        --mat-expansion-header-collapsed-state-height: 70px;

        @include bp (sm-max) {
            --mat-expansion-header-collapsed-state-height: 50px;
        }

        +.mat-expansion-panel {
            margin-top: 20px;
        }

        &.mat-expansion-panel-spacing {
            border-color: #B3DDFF;
        }

        .mat-expansion-panel-header {
            font-size: 18px;
            line-height: 22px;
            padding: 0 17px;
            --mat-expansion-header-text-color: #222;
            --mat-expansion-header-text-weight: 600;

            &.mat-expanded {
                --mat-expansion-header-text-color: #008CFF;
            }
        }

        .mat-expansion-panel-body {
            padding: 0 17px 20px;
            font-size: 16px;
            line-height: 20px;

            h6 {
                margin-bottom: 10px;
            }
        }

        .mat-expansion-indicator {
            margin: 16px;
        }
    }

    &.basic-accordion {
        --mat-expansion-header-hover-state-layer-color: transparent;
        --mat-expansion-header-text-color: #222 !important;

        .mat-expansion-panel {
            background: transparent;
            border: none;
            border-bottom: 1px solid $gray-400;
            border-radius: 0 !important;
            .mat-expansion-panel-header,
            .mat-expansion-panel-body {
                padding: 0;
            }
            .mat-expansion-panel-header{
                @include bp(sm-max) {
                    padding: 10px 0;
                    min-height: auto;
                    height: auto !important;
                }
            }
            .mat-expansion-panel-body {
                padding-bottom: 20px;
            }
            .mat-expansion-panel-header.mat-expanded {
                height: 50px;
                --mat-expansion-header-text-color: #222;
            }
            +.mat-expansion-panel {
                margin: 0px !important;
            }
            &.mat-expansion-panel-spacing {
                margin: 0;
            }
        }

        .mat-expansion-indicator {
            margin: 9px;
            display: flex;
            &::after {
                padding: 5px;
            }
        }

        p {
            margin-bottom: 0;
        }
    }
}

// Progress bar
// -----------------------------------------------------------------------------------------
.mat-mdc-progress-bar {
    &.secondary {
        --mdc-linear-progress-active-indicator-height: 12px;
        --mdc-linear-progress-track-height: 12px;
        --mdc-linear-progress-track-shape: 20px;

        .mdc-linear-progress__bar {
            transform: none !important;
            width: var(--width);

            .mdc-linear-progress__bar-inner {
                border-radius: 30px;
            }
        }
    }
}


// menu
// -----------------------------------------------------------------------------------------


.menu-panel.mat-mdc-menu-panel {
    border: 1px solid $gray-400;
    border-radius: 10px;
    box-shadow: 0px 4px 16px 0px #00000014;

    &.sm .mat-mdc-menu-content {
        width: 125px;
    }

    .mat-mdc-menu-item-text {
        display: flex;
        align-items: center;
        gap: 10px;
        color: $gray-700;

        svg-icon {
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 2px;
        }
    }
}