@import "base/break-points";
@import "base/colors";

::ng-deep .mat-mdc-dialog-panel {
    .mat-mdc-dialog-container .mdc-dialog__title + .mat-mdc-dialog-content {
        padding-top: 13px;
    }
  
}
.pop-thumb-msg {
    @include bp(xs-max) {
       padding: 0;
    }
    .i {
        display: inline-flex;
        margin-bottom: 20px;
        @include bp(xs-max) {
            margin-bottom: 15px !important;
        }
    }
    > h4 {
        margin-bottom: 20px;
        @include bp(xs-max) {
            margin-bottom: 15px !important;
        }
    }
    > p {
        margin-bottom: 30px;
        @include bp(xs-max) {
            margin-bottom: 15px !important;
        }
    }
    .mb-30p {
        @include bp(xs-max) {
            margin-bottom: 15px !important;
        }
    }
}