<div class="login-wrapper">
    <div class="_header">
        <a href="javascript:void(0);" title="Deli Food"><img src="./assets/images/logo.svg" /></a>
        <button mat-icon-button [routerLink]="'/home'" (click)="globalVariablesService.isLogin = false"><img
                src="./assets/images/ic-close.svg" /></button>
    </div>
    <div class="_body">
        <div class="_left">

            <!-- Signin block -->
            <div class="_form">
                <h3 class="fade-border">
                    Sign In / Sign Up
                </h3>
                <p class="lg">An OTP will be sent to your mobile number for verification</p>
                <div class="form-group">
                    <app-text-field label="Phone Number" img="./assets/images/ic-phone.svg" ></app-text-field>
                </div>
                <button mat-flat-button color="primary" class="w-100"  [routerLink]="['/otp']">Get OTP</button>
                <p class="footer-text">By Clicking on Sign In, I accept the <a href="javascript:void(0);"
                        title="Terms & Condition">Terms
                        & Condition</a> & <a href="javascript:void(0);" title="Privacy Policy">Privacy Policy</a></p>
            </div>
        </div>
        <div class="_right">
            <app-img-slider></app-img-slider>
        </div>
    </div>
</div>