<div class="review-block">
    <div class="d-flex align-items-center justify-content-between  flex-wrap flex-sm-nowrap gap">
        <div class="user-info">
            <!-- style="background-image: url({{dp1}}); -->
            <em class="dp" style="background-image: url(assets/images/dp.png);"></em>
            <div>
                <h6>Brooklyn Simmons</h6>
                <p class="m-0">August 24, 2022</p>
            </div>
        </div>
        <ul class="btns-block">
            <button mat-icon-button class="border sm">
                <img src="./assets/images/ic-thumb-up.svg" />
            </button>
            <button mat-icon-button class="border sm">
                <img src="./assets/images/ic-chat-bubble.svg" />
            </button>
            <button mat-icon-button class="border sm">
                <img src="./assets/images/ic-share.svg" />
            </button>
        </ul>
    </div>
    <app-rating [star]="3"></app-rating>
    <p class="m-0">The regular paneer was so fresh and soft! I used it in my homemade curry, and it turned out
        fantastic. Definitely buying this again.</p>
</div>