@import '../../../assets/scss/base/break-points';


::ng-deep .breadcrumb {
    margin-bottom: 30px;
    @include bp (sm-max) {
        margin-bottom: 20px;
    }
    @include bp (xs-max) {
        margin-bottom: 18px;
    }
}
.row {
    --bs-gutter-x: 20px;
}

.menu-details-wrapper {
    display: flex;

    @include bp (smd-max) {
        display: block;
    }

    .menu-list-wrapper {
        @include bp (smd-max) {
            height: 54px;
            overflow: hidden;
            margin-bottom: 20px;
            background-color: #E6F4FF;
            padding: 8px;
            border-radius: 8px;
        }

        .menu-list {
            @include bp (lg-max) {
                min-width: 220px;
                width: 220px;
            }

            @include bp (md-max) {
                min-width: 220px;
                width: 220px;
            }

            @include bp (smd-max) {
                min-width: auto;
                width: 100%;
                padding: 0;
                display: flex;
                align-items: center;
                overflow-y: hidden;
                overflow-x: auto;
                white-space: nowrap;
                border-radius: 0px;
            }

            >li {
                a {
                    font-size: 16px;
                    line-height: 20px;
                    @include bp (smd-max) {
                        padding: 10px 16px 8px;
                        min-height: auto;
                    }
                }
            }

        }
    }

    ._details {
        width: calc(100% - 280px);
        padding-left: 40px;

        @include bp (lg-max) {
            padding-left: 20px;
            width: calc(100% - 220px);
        }

        @include bp (smd-max) {
            padding: 0 0 20px;
            width: 100%;
        }
    }
}