<app-layout>
    <div class="container">
        <section class="hero-block">
            <h2>Savor the perfect slice of savory goodness.</h2>
            <button mat-flat-button class="orange">Explore More</button>
            <div class="big-round-circle" style="background-image: url(assets/images/cheese-bg-img.png);"></div>
        </section>

        <section class="near-food-section">
            <div class="info">
                <h3 class="ic-text-left-ptn">Discover Deli Delights Near You</h3>
                <p class="lg">Explore a Variety of Delectable Deli Shops in Your Vicinity</p>
                <button mat-flat-button color="primary" (click)="openDialog()">Explore More</button>
            </div>
            <ul>
                <li>
                    <div class="el-group">
                        <div class="item-box">
                            <em class="thumb"
                                style="background-image: url(assets/images/smoked-gouda-cheese-img.jpg);"></em>
                            <div class="center">
                                <h6>Flavorsome Delights</h6>
                                <p class="location">123, Brigade Road, Bengaluru, Karnataka</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="el-group">
                        <div class="item-box">
                            <em class="thumb" style="background-image: url(assets/images/spicy-bite-img.jpg);"></em>
                            <div class="center">
                                <h6>Spicy Bites Deli</h6>
                                <p class="location">456, Indiranagar 100 Feet Road, Bengaluru, Karnataka</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="el-group">
                        <div class="item-box">
                            <em class="thumb" style="background-image: url(assets/images/tasty-treat-img.jpg);"></em>
                            <div class="center">
                                <h6>Tasty Treats Deli</h6>
                                <p class="location">789, Koramangala 5th Block, Bengaluru, Karnataka</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </section>

        <section class="best-seller-section">
            <div>
                <h3 class="ic-text-right-ptn">Our Best Seller</h3>
                <p class="lg">Discover our handpicked collection of customer favorites and best-selling items.</p>
            </div>
            <button mat-flat-button color="primary">Explore More</button>

            <div class="keen-slider-multiple w-100">
                <div class="keen-slider" #sliderRef>
                    <div class="keen-slider__slide">
                        <app-item-box Img="assets/images/chicken-salami-img.png" ItemName="Chicken Salami"
                            ShopName="Flavorsome Delights" TotalReview="1256" TotalRate="4.5" Price="₹150.00"
                            Class="best-seller"></app-item-box>
                    </div>
                    <div class="keen-slider__slide">
                        <app-item-box Img="assets/images/gourmet-cheese-platter.png" ItemName="Gourmet Cheese Platter"
                            ShopName="Flavorsome Delights" TotalReview="1256" TotalRate="4.5" Price="₹150.00"
                            Class="best-seller"></app-item-box>
                    </div>
                    <div class="keen-slider__slide">
                        <app-item-box Img="assets/images/signature-smoked-salmon.png" ItemName="Signature Smoked Salmon"
                            ShopName="Flavorsome Delights" TotalReview="1256" TotalRate="4.5" Price="₹150.00"
                            Class="best-seller"></app-item-box>
                    </div>

                    <div class="keen-slider__slide">
                        <app-item-box Img="assets/images/chicken-liver-pate-img.png" ItemName="Chicken Liver Pâté"
                            ShopName="Flavorsome Delights" TotalReview="1256" TotalRate="4.5" Price="₹150.00"
                            Class="best-seller"></app-item-box>
                    </div>
                </div>
                <div class="slider-nav">
                    <div class="arrow arrow--left" [ngClass]="(currentSlide === 0 ? 'arrow--disabled' : '')"
                        (click)="slider.prev()"><img src="./assets/images/ic-left.svg" alt="" /></div>
                    <div class="arrow arrow--right" [ngClass]="{'arrow--disabled':  nextDisabled}"
                        (click)="slider.next()"><img src="./assets/images/ic-right.svg" alt="" /></div>
                </div>
            </div>
        </section>

        <section class="join-section">
            <em class="thumb"><img src="assets/images/join-club-img.png" alt="" /></em>
            <h3 class="ic-text-right-ptn">Join the Deli Club</h3>
            <p class="lg">Be the First to Know About Exclusive Offers and Tasty Delights!</p>
            <div class="input-grp">
                <app-text-field label="Your Name"></app-text-field>
                <button mat-flat-button class="orange">Explore More</button>
            </div>
        </section>

    </div>
</app-layout>