<app-layout>
    <div class="container">
        <div class="breadcrumb">
            <a href="javascript:void(0);" class="breadcrumb-link" title="Home" [routerLink]="'/home'">Home</a>
            <a href="javascript:void(0);" class="breadcrumb-link" title="Cheeses"
                [routerLink]="'/product-listing'">Cheeses</a>
            <a href="javascript:void(0);" class="breadcrumb-link" title="Cheeses"
                [routerLink]="'/product-listing'">Paneer</a>
            <a href="javascript:void(0);" class="breadcrumb-link" title="Cheeses"
                [routerLink]="'/product-listing'">Regular Paneer</a>
            <span class="breadcrumb-text">Cart</span>
        </div>
        <div class="title">
            <div class="title-left">
                <h4>Cart</h4>
                <p>You have 2 items in your cart</p>
            </div>
        </div>

        <div class="cart-wrapper">
            <div class="cart-table-block">
                <div class="table-responsive mb-24p">
                    <table class="table-block">
                        <tr>
                            <th width="145px">Image</th>
                            <th>Title</th>
                            <th width="126px">Price</th>
                            <th width="126px">Quantity</th>
                            <th width="126px">Unit</th>
                            <th width="117px" class="text-center">Action</th>
                        </tr>
                        <tr>
                            <td><em class="_thumb"><img src="assets/images/panner-img.jpg" alt="" /></em></td>
                            <td>Regular Panner</td>
                            <td>₹300</td>
                            <td>
                                <mat-form-field class="select no-b auto-w" subscriptSizing="dynamic">
                                    <mat-select value="option1" panelClass="select-panel">
                                        <mat-option value="option1">100gm </mat-option>
                                        <mat-option value="option2">200gm</mat-option>
                                        <mat-option value="option3">300gm</mat-option>
                                        <mat-option value="option4">400gm</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td><app-counter-btn-wrapper [onlyCounter]="true"></app-counter-btn-wrapper></td>
                            <td class="text-center"><button mat-icon-button class="border sm"><img
                                        src="assets/images/ic-delete.svg" /></button></td>
                        </tr>
                        <tr>
                            <td><em class="_thumb"><img src="assets/images/rectangle-malai-panner-img.png" alt="" /></em></td>
                            <td>Malai Paneer</td>
                            <td>₹300</td>
                            <td>
                                <mat-form-field class="select no-b auto-w" subscriptSizing="dynamic">
                                    <mat-select value="option1" panelClass="select-panel">
                                        <mat-option value="option1">100gm </mat-option>
                                        <mat-option value="option2">200gm</mat-option>
                                        <mat-option value="option3">300gm</mat-option>
                                        <mat-option value="option4">400gm</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td><app-counter-btn-wrapper [onlyCounter]="true"></app-counter-btn-wrapper></td>
                            <td class="text-center"><button mat-icon-button class="border sm"><img
                                        src="assets/images/ic-delete.svg" /></button></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="order-summary-block">
                <div class="card space-2 primary mb-24p">
                    <h6>Order Summary</h6>
                    <div class="coupon-block" (click)="openDialog()">
                        <svg-icon src="assets/images/ic-discount.svg"></svg-icon> <strong>Apply Coupon</strong>
                    </div>
                    <div class="coupon-block applied">
                        <div><svg-icon src="assets/images/ic-round-success-check.svg"></svg-icon> <span>Coupon <strong>FLAVOR15</strong> Applied</span></div>
                        <a href="javascript:void(0);" class="text-error">Remove</a>
                    </div>
                    <ul class="order-summary-list">
                        <li>
                            <p>Regular Panner (100gm)</p>
                            <span>₹300.00</span>
                        </li>
                        <li>
                            <p>Malai Paneer (100gm)</p>
                            <span>₹300.00</span>
                        </li>
                        <li class="strong">
                            <p>Sub Total</p>
                            <span>₹600.00</span>
                        </li>
                        <li class="sub-list">
                            <ul class="w-100">
                                <li>
                                    <p>Coupon Discount</p>
                                    <span class="text-error">- ₹150.00</span>
                                </li>
                                <li>
                                    <p>Taxes</p>
                                    <span>₹20.00</span>
                                </li>
                            </ul>
                        </li>
                        <li class="lg strong">
                            <p>Order Total</p>
                            <span>₹510.00</span>
                        </li>
                    </ul>

                    <button mat-flat-button color="primary" class="w-100" routerLink="/checkout">Checkout</button>
                </div>
                <div class="textarea-suggestion">
                    <h6 class="with-sub">Any other Suggestion? <span>We will pass it on....</span></h6>
                    <mat-form-field appearance="outline" class="w-100 mh">
                        <textarea matInput placeholder="Write Here..."></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>

    </div>
</app-layout>