@import "base/break-points";
@import "base/colors";

.title {
    margin-bottom: 34px;

    @include bp(sm-max) {
        margin-bottom: 24px;
    }

    @include bp(xs-max) {
        margin-bottom: 20px;
    }
}

::ng-deep .main-content {
    @include bp (md-max) {
        padding-left: 0;
        padding-right: 0;
    }
}

.product-list-table-wrapper {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 24px;

    @include bp (md-max) {
        margin-bottom: 18px;
    }

    .product-list-table {
        min-width: auto;
    }

    .btns-block {
        @include bp(sm-max) {
            gap: 10px;
        }

        @include bp(xs-max) {
            .mdc-button.mat-mdc-button-base {
                padding: 0 7px;
            }
        }
    }

    ._head {
        background-color: #EEF0F1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 74px;

        @include bp(sm-max) {
            gap: 10px;
            flex-wrap: wrap;
            min-height: 60px;
        }


        ._left {
            display: flex;
            gap: 40px;
            color: #666666;

            @include bp(sm-max) {
                flex-wrap: wrap;
                width: 100%;
            }

            @include bp(xs-max) {
                gap: 10px;

                >li {
                    width: calc(50% - 5px);
                }
            }


            p {
                font-size: 16px;
                line-height: 20px;
                color: #222;
                margin-bottom: 2px;

                @include bp(sm-max) {
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }


    }

    ._policy-d {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 52px;
        gap: 8px;
        flex-wrap: wrap;
    }

    .product-list-table {
        >li {
            padding: 16px 24px;

            @include bp(sm-max) {
                padding: 16px 18px;
            }

            @include bp(xs-max) {
                padding: 14px 15px;
            }
        }

        .list-product-view {
            padding: 20px 24px;

            @include bp(sm-max) {
                padding: 16px 18px;
            }

            .item-box {
                @include bp(xs-max) {
                    flex-wrap: wrap;
                    gap: 15px;
                }

                h6 {
                    margin-bottom: 10px;
                }

                .thumb {
                    width: 110px;
                    padding-bottom: 82px;
                    border-radius: 10px;
                    box-shadow: 0px 4px 16px 0px #00000033;

                    @include bp(xs-max) {
                        width: 100%;
                        padding-bottom: 50%;
                    }
                }

                .store {
                    background-size: 18px;
                    background-position: top 0px left 0px;
                }

                .additional-info-list {
                    margin-bottom: 10px;

                    li+li {
                        padding-left: 21px;

                        @include bp(sm-max) {
                            padding-left: 16px;
                        }

                        &::before {
                            top: 6px;
                        }
                    }
                }

                .store {
                    margin-bottom: 0;
                }

                .right {
                    @include bp(sm-max) {
                        min-width: auto;
                    }
                }

            }
        }

        .show-all-block {
            text-align: center;
            padding: 12px;

            a {
                display: inline-flex;
                align-items: center;
                gap: 13px;

                img {
                    margin-bottom: 2px;
                }
            }
        }
    }
}