@import "base/break-points";
@import "base/colors";


::ng-deep .main-content {
    @include bp (md-max) {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 40px;
    }
}

.title {
    margin-bottom: 30px;

    @include bp(sm-max) {
        margin-bottom: 20px;
    }

    .mat-mdc-icon-button.mat-mdc-button-base.xs {
        --mdc-icon-button-state-layer-size: 30px;

        svg {
            width: 16px;
            height: 16px;
        }
    }
}

.row.checkout-row {
    --bs-gutter-x: 40px;

    @include bp(lg-max) {
        --bs-gutter-x: 20px;
    }
}

::ng-deep .mat-mdc-form-field.pr .mdc-text-field {
    padding-right: 12px;
}

.item-summary-list {
    li {
        border-bottom: 1px dashed #B3DDFF;
        padding-bottom: 16px;
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 14px;
        }

        @include bp(xs-max) {
            padding-bottom: 10px;
            margin-bottom: 12px;
        }
    }

    .list-product-view .item-box {
        gap: 10px;
        font-size: 14px;
        line-height: 18px;
        color: #666666;

        @include bp(xs-max) {
            justify-content: space-between;
            flex-wrap: wrap;
        }

        h6 {
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 0;
        }

        .sm {
            font-size: 12px;
            line-height: 16px;
        }

        .thumb {
            width: 74px;
            padding-bottom: 60px;
        }

        .store {
            padding-left: 20px;
            background-position: top 1px left 0px;
        }

        .center {
            flex: auto;
            width: 100%;
            max-width: calc(100% - 146px);

            >*:not(:last-child) {
                margin-bottom: 4px;
                display: block;
            }

            @include bp(xs-max) {
                order: 3;
                width: 100%;
                flex: auto;
                max-width: 100%;
            }
        }

        .right {
            min-width: auto;
            align-self: flex-start;

            .price {
                color: #222;
                margin-bottom: 0;
            }
        }

    }
}


.card.account {
    .signin-text {
        display: flex;
        gap: 12px;
        margin-bottom: 2px;

        @include bp(xs-max) {
            gap: 8px;
        }

        .text-green {
            font-size: 14px;
            line-height: 18px;
            font-weight: 600;
            gap: 4px;
        }

        svg-icon {
            display: flex;
            margin-bottom: 2px;
        }
    }

    ._details-body {
        margin-top: 24px;
    }
}

.card.shipping {
    ::ng-deep .keen-slider-multiple {
        margin-bottom: 4px;
    }
}

.order-summary-wrapper {
    position: sticky;
    top: 228px;
    z-index: 1;
}

.card.space-2 {
    padding: 20px 24px;

    @include bp(sm-max) {
        padding: 20px;
    }

    @include bp(xs-max) {
        padding: 18px;
    }
}

.dp-info {
    display: flex;
    margin-top: 10px;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    gap: 12px;

    h6 {
        margin-bottom: 2px;
    }

    p {
        margin-bottom: 0;
    }
}

.details-stepper {

    @include bp(smd-max) {
        margin-bottom: 30px;
    }

    @include bp(sm-max) {
        margin-bottom: 30px;

        >li {
            padding: 0 0 20px 40px;

            .in {
                width: 30px;
                height: 30px;
            }

            &:not(:last-child)::before {
                left: 14px;
            }
        }
    }

    @include bp(xs-max) {
        margin-bottom: 20px;

        >li {
            padding: 40px 0 20px 0px;

            .in {
                width: 30px;
                height: 30px;
                top: 0;
            }

            &:not(.active, .complated) {
                padding: 0 0 20px;
                .in {
                   display: none;
                }    
            }

            &:not(:last-child)::before {
                left: 14px;
                top: 23px;
                z-index: -1;
            }
        }
    }

    ::ng-deep .address-block {
        min-width: 252px;

        &.cc {
            min-width: 271px;
        }
    }


    ::ng-deep .keen-slider-multiple {
        .keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide {
            width: auto;
        }
    }


    .checkbox-block {
        gap: 10px;

        ::ng-deep .mat-mdc-checkbox {
            .mdc-checkbox {
                margin: -11px;
            }

            .mdc-checkbox__background {
                border-radius: 4px;
                top: calc(50% - 10px);
                left: calc(50% - 10px);
            }

            .mdc-form-field>label {
                padding-left: 11px;
            }

            .mdc-checkbox__checkmark {
                transform: scale(0.8);
            }
        }

        &.bb {
            padding-top: 10px;
            padding-bottom: 24px;
        }

    }

    .mb-24p {
        @include bp(sm-max) {
            margin-bottom: 20px !important;
        }

        @include bp(xs-max) {
            margin-bottom: 15px !important;
        }
    }

    h6 {
        @include bp(sm-max) {
            line-height: 26px;
        }
    }
}

.address-detail {
    li {
        padding: 24px 0;

        @include bp(sm-max) {
            padding: 20px 0;
        }

        @include bp(xs-max) {
            padding: 15px 0;
        }

        &:first-child {
            padding-top: 0;
        }

        +li {
            border-top: 1px solid $gray-400;
        }
    }

    h6 {
        margin-bottom: 6px;

        span {
            font-size: 12px;
            line-height: 16px;
            font-weight: 400;
            display: inline-block;
            color: #666666;
        }
    }

    .text-primary {
        margin-bottom: 4px;
        display: inline-block;
    }

    p {
        font-size: 14px;
        line-height: 18px;
        margin: 0;
    }

    ._add {
        max-width: 178px;
    }

    .card-detail {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        .card-img {
            width: 40px;
            display: flex;
        }
    }
}

.chip {
    white-space: nowrap;
    border: 1px solid $gray-400;
    border-radius: 30px;
    height: 40px;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;

    @include bp(xs-max) {
        height: 35px;
        padding: 8px 13px;
    }

    svg-icon {
        display: flex;
        margin-bottom: 3px;
    }

    &.active {
        background-color: #008CFF;
        border-color: #008CFF;
        color: #fff;

        svg-icon:not(.s) {
            svg path {
                fill: #fff;
            }
        }

        svg-icon.s {
            svg path {
                stroke: #fff;
            }
        }
    }
}

.select-payment-block {
    @include bp(xs-max) {
        .btns-block {
            gap: 10px;
        }
    }
}

.upi-checkbox-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 24px; 

    @include bp(xs-max) {
        margin-bottom: 18px; 
    }

    ::ng-deep .mat-mdc-checkbox {
        .mdc-checkbox {
            margin: -11px;
        }

        .mdc-checkbox__background {
            border-radius: 4px;
        }

        .mdc-form-field>label {
            padding-left: 11px;
        }

        .mdc-checkbox__checkmark {
            transform: scale(0.8);
        }
    }

    a {
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 14px;
        line-height: 18px;

        >.i {
            display: flex;
            margin-top: 3px;
        }
    }
}

.upi-card-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    @include bp(xs-max) {
        gap: 10px;
    }

    .upi-card {
        min-width: 76px;
        height: 66px;

        em {
            display: flex;
        }
    }
}

.internet-banking-block {
    .upi-card {
        padding: 0 18px;
        min-width: 109px;
    }

    .select-bank {
        max-width: 345px;
    }
}


.other-payment-block {
    .upi-card {
        padding: 0 18px;
    }
}

.qa-section {
    margin: 100px auto 0;
    position: relative;


    @include bp (smd-max) {
        margin: 80px auto 0;
    }

    @include bp (xs-max) {
        margin: 50px auto 0;
    }


    .container {
        max-width: 1046px;

        >h4 {
            margin-bottom: 40px;

            @include bp(smd-max) {
                margin-bottom: 30px;
            }

            @include bp(xs-max) {
                margin-bottom: 20px;
            }
        }
    }

    &::after,
    &::before {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
    }

    &::after {
        bottom: -141px;
        left: -16px;
        background-image: url(../../../assets/images/Glass.png);
        background-size: 450px;
        width: 450px;
        height: 318px;

        @include bp (smd-max) {
            display: none;
        }
    }

    &::before {
        top: 40px;
        right: 123px;
        background-image: url(../../../assets/images/speech-bubble.png);
        background-size: 93px;
        width: 93px;
        height: 132px;

        @include bp (smd-max) {
            display: none;
        }
    }

    .load-more-block {
        text-align: center;
        border-bottom: 1px solid #E8E8E8;
        padding: 20.5px 0;

        @include bp(sm-max) {
            padding: 15px;
        }

        a {
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            gap: 13px;
        }
    }
}