<!-- radio chip -->
<mat-chip-listbox>
    <mat-chip-option>One fish</mat-chip-option>
    <mat-chip-option>Two fish</mat-chip-option>
    <mat-chip-option selected>Accent fish</mat-chip-option>
    <mat-chip-option selected>Warn fish</mat-chip-option>
</mat-chip-listbox>


<!-- checkbox chip -->
<mat-chip-option>One fish</mat-chip-option>
<mat-chip-option>Two fish</mat-chip-option>
<mat-chip-option selected>Accent fish</mat-chip-option>
<mat-chip-option selected>Warn fish

       <button mat-icon-button matChipRemove >
          <img src="./assets/images/ic-close.svg"/>
        </button>
</mat-chip-option>
